/* Title of the image */
.mr-image-detail-title {
  margin-bottom: 0px;
  color: var(--mr-text-color);
}

/* Subtitle of the image*/
.mr-image-detail-subtitle {
  font-size: var(--mr-font-size-small);
  color: var(--mr-text-color-not-important);
}