<!-- <div *ngIf="character !== '' || modelName !== ''">
  <ng-template *ngIf="character !== ''; else titleModelName">
    <h3 class="mr-image-detail-title">
      {{ character }}
    </h3>
    <h5 *ngIf="modelName !== ''" class="mr-image-detail-subtitle">
      {{ modelName }}
    </h5>
  </ng-template>

  <ng-template #titleModelName>
    <h3 class="mr-image-detail-title">{{ character }}</h3>
  </ng-template>
</div> -->

<div class="flex flex-col gap-1">
  <div *ngIf="loading; else loaded" class="skeleton">
    <div class="h-4 w-40"></div>
  </div>
  <ng-template #loaded>
    <h3>
      {{ character }}
    </h3>
    <h5 class="mr-image-detail-subtitle">
      {{ modelName }}
    </h5>
  </ng-template>
</div>
