<!-- <div *ngIf="character !== '' || modelName !== ''">
  <ng-template *ngIf="character !== ''; else titleModelName">
    <h3 class="mr-image-detail-title">
      {{ character }}
    </h3>
    <h5 *ngIf="modelName !== ''" class="mr-image-detail-subtitle">
      {{ modelName }}
    </h5>
  </ng-template>

  <ng-template #titleModelName>
    <h3 class="mr-image-detail-title">{{ character }}</h3>
  </ng-template>
</div> -->

<h3 class="mr-image-detail-title">
  {{ character }}
</h3>
<h5 class="mr-image-detail-subtitle">
  {{ modelName }}
</h5>
