.mr-custom-btn {
  @apply flex items-center justify-center cursor-pointer px-2 uppercase;
  background-color: var(--mr-btn-bg-color);
  color: var(--mr-btn-text-color);
  height: var(--mr-input-height);
  transition: var(--mr-transition-time) ease-in-out;
}