.mr-choice-filter input {
  display: none;
}

.mr-choice-filter {
  @apply w-full h-full;
  color: var(--mr-switch-favorite-color);
}

.choice-label {
  @apply cursor-pointer rounded-none relative h-full flex items-center px-2;
  // height: var(--mr-input-height);
  color: var(--mr-switch-favorite-color);
  background-color: var(--mr-input-bg-color);
  border: 1px solid var(--mr-switch-favorite-color);
  transition: var(--mr-transition-time) ease-out;
}

.mr-choice-filter:has(input:checked) .choice-label {
  color: black;
  background-color: var(--mr-switch-favorite-color);
}