input[type='text'],
input[type='date'],
input[type='number'],
input[type='password'] {
  @apply px-2;
  height: var(--mr-input-height);
  background-color: var(--mr-input-bg-color);
  color: var(--mr-input-text-color);
}

input::placeholder {
  color: var(--mr-input-placeholder-color);
}