# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Ignorar todos los archivos en .vscode
.vscode/*

# Exceptuar algunos archivos específicos
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tailwind.json

# Volver a ignorar settings.json específicamente
.vscode/settings.json

# History
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment Variables
src/environments/environment.development.ts
src/environments/environment.ts
