header {
  z-index: 1000000;
}

header span {
  @apply px-3 text-xs;
  backdrop-filter: blur(5px);
}

.header.development span {
  background-color: var(--header-background-color-development);
  color: var(--header-color-development);
}

.header.production span {
  @apply hidden;
  background-color: var(--header-background-color-production);
  color: var(--header-color-production);
}