$header-background-color-production: black;
$header-color-production: rgb(145, 145, 145);
$header-background-color-development: rgb(26, 61, 179);
$header-color-development: rgb(114, 142, 235);

/* Header */
.header.production {
  background-color: $header-background-color-production;
  color: $header-color-production;
}

.header.development {
  background-color: $header-background-color-development;
  color: $header-color-development;
}