<div class="flex flex-col gap-1">
  <div
    class="flex items-end justify-between border-b border-b-main-500 dark:border-b-main-400">
    <h2>
      {{ collection.name }}
    </h2>
    <div class="flex flex-row items-end gap-3">
      <h6 class="dark:text-white-950">
        {{ collection.id }}
      </h6>
      <h6 class="dark:text-main-400">
        {{ collection.order }}
      </h6>
      <button class="btn" (click)="goToEdit()">
        {{ text('FORM.EDIT') | mrTranslate }}
      </button>
    </div>
  </div>
  <div
    class="grid grid-cols-3 gap-[2px] sm:grid-cols-4 md:grid-cols-5"
    *ngIf="hasDrawings">
    <app-drawing-thumbnail *ngFor="let drawing of drawings" [drawing]="drawing">
    </app-drawing-thumbnail>
  </div>
</div>
