.mr-ff-stats-basic .mr-ff-stats-item .title {
  color: var(--mr-ff-title-color);
  min-width: 50px;
}

.mr-ff-stats-basic {
  padding-left: 10px;
}

.mr-ff-stats-basic span {
  padding-right: 8px;
}

.mr-ff-title {
  font-size: var(--mr-font-size-large);
  font-weight: var(--mr-font-weight-bold);
}