.mr-ff-stats-basic .mr-ff-stats-item {
  font-weight: var(--mr-font-weight-bold);
}

.mr-ff-stats-basic .mr-ff-stats-item.basic {
  font-weight: var(--mr-font-weight-light);
}

.mr-ff-stats-basic .mr-ff-stats-item .title {
  color: var(--mr-ff-title-color);
  min-width: 50px;
}

.mr-ff-stats-basic {
  padding-left: 10px;
}

.mr-ff-stats-basic span {
  padding-right: 8px;
}

.mr-ff-title {
  font-size: var(--mr-font-size-large);
  font-weight: var(--mr-font-weight-bold);
}

.mr-ff-container a {
  color: var(--mr-ff-title-color) !important;
}

.mr-ff-container a:hover {
  color: white !important;
}

.mr-inspiration-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  font-weight: var(--mr-font-weight-light);
}