<app-layout>
  <div>
    <app-ff-panel [title]="text('PERSONAL.TITLE') | mrTranslate">
      <div class="flex flex-nowrap gap-2">
        <div class="mr-ff-image">
          <img
            src="assets/images/me/smile.png"
            alt="Me"
            class="aspect-square w-fit" />
        </div>
        <div class="mr-ff-stats">
          <div class="mr-ff-stats-basic">
            <span>{{ text('PERSONAL.NAME') | mrTranslate }}</span>
            <div class="mr-ff-stats-item basic">
              <app-ff-hand-container>
                <span class="title">{{
                  text('PERSONAL.LV') | mrTranslate
                }}</span>
                <span class="value">{{ age }}</span>
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item helath">
              <app-ff-hand-container>
                <span class="title">{{
                  text('PERSONAL.HP') | mrTranslate
                }}</span>
                <app-ff-progress-bar
                  [maxPoints]="maxHealth"
                  [points]="healthPoints"
                  [type]="'health'">
                </app-ff-progress-bar>
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item magic">
              <app-ff-hand-container>
                <span class="title">{{
                  text('PERSONAL.MP') | mrTranslate
                }}</span>
                <app-ff-progress-bar
                  [maxPoints]="maxMagic"
                  [points]="magicPoints"
                  [type]="'magic'">
                </app-ff-progress-bar>
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item basic">
              <app-ff-hand-container>
                <span class="title">
                  <i class="bi bi-emoji-smile"></i>
                </span>
                <span class="value">
                  <a
                    href="https://www.humanmetrics.com/personalidad/istj"
                    target="_blank">
                    {{ text('PERSONAL.PERSONALITY') | mrTranslate }}
                  </a></span
                >
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item basic">
              <app-ff-hand-container>
                <span class="title">
                  <i class="bi bi-briefcase"></i>
                </span>
                <span class="value">{{
                  text('PERSONAL.JOB') | mrTranslate
                }}</span>
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item basic">
              <app-ff-hand-container>
                <span class="title">
                  <i class="bi bi-cake2"></i>
                </span>
                <span class="value">{{
                  text('PERSONAL.BIRTHDAY') | mrTranslate
                }}</span>
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item basic">
              <app-ff-hand-container>
                <span class="title"> <i class="bi bi-award"></i></span>
                <span class="value">{{
                  text('PERSONAL.COLLEGE') | mrTranslate
                }}</span>
              </app-ff-hand-container>
            </div>
            <div class="mr-ff-stats-item basic">
              <app-ff-hand-container>
                <span class="title"><i class="bi bi-chat-left-heart"></i></span>
                <div class="value">
                  <a
                    *ngFor="let link of socialLinks"
                    [href]="link.link"
                    target="_blank">
                    <i class="bi" [ngClass]="link.icon"></i
                    ><span>{{ link.text }}</span>
                  </a>
                </div>
              </app-ff-hand-container>
            </div>
          </div>
        </div>
      </div>
    </app-ff-panel>

    <app-ff-panel
      [title]="text('DESCRIPTION.TITLE') | mrTranslate"
      [margin]="true">
      <div class="flex flex-col gap-2">
        <app-ff-hand-container>
          <p>
            {{ text('DESCRIPTION.1') | mrTranslate }}
          </p>
        </app-ff-hand-container>
        <app-ff-hand-container>
          <p>
            {{ text('DESCRIPTION.2') | mrTranslate }}
          </p>
        </app-ff-hand-container>
      </div>
    </app-ff-panel>

    <app-ff-panel
      [title]="text('REFERENCES.TITLE') | mrTranslate"
      [margin]="true">
      <div class="md:gird-cols-4 grid w-full grid-cols-1 gap-3 sm:grid-cols-3">
        <div *ngFor="let inspiration of listInspirations">
          <app-ff-hand-container [behaviour]="'flicker'">
            <div class="flex flex-col gap-1">
              <div class="flex gap-2">
                <app-ff-materia [type]="inspiration.type">
                  <span class="title mr-inspiration-name">{{
                    inspiration.name
                  }}</span>
                </app-ff-materia>
              </div>
              <div class="mr-social-links">
                @if (inspiration.instagram) {
                  <a [href]="inspiration.instagram" target="_blank">
                    <i class="bi bi-instagram"></i>
                  </a>
                }
                @if (inspiration.twitter) {
                  <a [href]="inspiration.twitter" target="_blank">
                    <i class="bi bi-twitter-x"></i>
                  </a>
                }
                @if (inspiration.youTube) {
                  <a [href]="inspiration.youTube" target="_blank">
                    <i class="bi bi-youtube"></i>
                  </a>
                }
                @if (inspiration.twitch) {
                  <a [href]="inspiration.twitch" target="_blank">
                    <i class="bi bi-twitch"></i>
                  </a>
                }
                @if (inspiration.pinterest) {
                  <a [href]="inspiration.pinterest" target="_blank">
                    <i class="bi bi-pinterest"></i>
                  </a>
                }
              </div>
            </div>
          </app-ff-hand-container>
        </div>
      </div>
    </app-ff-panel>
  </div>
  <div class="row mb-2 mt-2">
    <!--
    @{

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "Género",
                RawText = "Hombre"
            });

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "📍 Ubicación",
                RawText = "Madrid, España"
            });
    } -->

    <!-- @{

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "📽 Algunas Películas Favoritas",
                Large = true,
                ListaItems = new List<string>()
    {
    "El Gato con Botas: El Último Deseo (2022)",
    "Joker (2019)",
    "Green Book (2018)",
    "Spider-Man: Into The Spider-Verse (2018)",
    "Your Name (2016)",
    "Inside Out (2015)",
    "Her (2013)",
    "Rush (2013)",
    "El Gran Gratsby (2013)",
    "The Intouchables (2011)",
    "Toy Story 3 (2010)",
    "Gran Torino (2008)",
    "The Dark Knight (2008)",
    "V de Vendetta (2005)",
    "Harry Potter y el Prisionero de Azkabán (2003)",
    "Hércules (1997)",
    "El Indomable Will Hunting (1997)",
    "El Rey León (1994)",
    }
            });

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "📺 Algunas Series Favoritas",
                Large = true,
                ListaItems = new List<string>()
    {
    "The Last Of Us (2023-)",
    "Arcane (2021-)",
    "Los Simpsons (1989-)",
    "Better Call Saul (2015-2022)",
    "Cortar Por la Línea de Puntos (2021)",
    "MR. ROBOT (2015-2019)",
    "Sherlock (2010-2017)",
    "How I Met Your Mother (2005-2014)",
    "The Office (US) (2005-2013)",
    "Breaking Bad (2008-2013)",
    "Los Soprano (1999-2007)",
    }
            });

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "💽 Algunas Bandas de Música Favoritas",
                Large = true,
                ListaItems = new List<string>()
    {
    "Aitana Ocaña",
    "Chase & Status",
    "Dua Lipa",
    "Fall Out Boy",
    "Hans Zimmer",
    "Imagine Dragons",
    "Katy Perry",
    "Lena Raine",
    "Mac Quayle",
    "Morat",
    "Nobuo Uematsu",
    "OneRepublic",
    "Queen",
    "Ramin Djawadi",
    "Rise Against",
    "Sia",
    }
            });

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "🎮 Algunos Videojuegos Favoritas",
                Large = true,
                ListaItems = new List<string>()
    {
    "FINAL FANTASY XVI (2023)",
    "Hi-Fi Rush (2023)",
    "God Of War Ragnarök (2022)",
    "Tunic (2022)",
    "Horizon Forbidden West (2022)",
    "Kena: Bridge of Spirits (2021)",
    "Ratchet & Clank: Rift Apart (2021)",
    "Hades (2020)",
    "Fall Guys: Ultimate Knockout (2020)",
    "Crash Team Racing: Nitro-Fueled (2019)",
    "Celeste (2018)",
    "Cuphead (2017)",
    "Hollow Knight (2017)",
    "Sonic Mania (2016)",
    "Undertale (2015)",
    "The Last Of Us (2013)",
    "Spyro 2: Ripto's Rage! (1999)",
    "Crash Bandicoot 3: Warped (1998)",
    "FINAL FANTASY VII (1997)",
    }
            });

        await Html.RenderPartialAsync("_DetailsSection", new DetailsSectionModel()
            {
                Title = "📕 Algunos Libros Favoritos",
                Large = true,
                ListaItems = new List<string>()
    {
    "Origen, Dan Brown (2017)",
    "Inferno, Dan Brown (2014)",
    "You, Caroline Kepnes (2014)",
    "Hagakure: El camino del Samurái, Yamamoto Tsunetomo (2014)",
    "Canciones para Paula, Blue Jeans (2009)",
    "El Arte de Conducir Bajo la Lluvia, Garth Stein (2008)",
    "The Perks of Being a Wallflower, Stephen Chbosky (1999)",
    "El sabueso de los Baskerville, Arthur Conan Doyle (1901-1902)"
    }
            });
    } -->
  </div>
</app-layout>
