<div class="form-group">
  <label *ngIf="label !== ''">{{ label }}</label>
  <div class="flex flex-col gap-0">
    <quill-editor
      [theme]="'snow'"
      [modules]="editorModules"
      [(ngModel)]="internalValue"
      [formControl]="formControl"
      (blur)="onBlur()"
      (keydown)="onKeyDown($event)"
      (ngModelChange)="onInputChange($event)"
      [placeholder]="placeholder">
    </quill-editor>
    <div
      class="flex flex-row items-start justify-between gap-1 p-2 text-black-100 dark:text-white-950">
      <div class="flex flex-row items-center gap-2 text-sm">
        <button class="btn-image" type="button" (click)="toggleHtml()">
          <i class="bi bi-filetype-html"></i>
        </button>
        <span>{{
          'COMPONENTS.RICH-TEXT.LENGTH-COUNT' | mrTranslate: { count: length() }
        }}</span>
      </div>
      <div>
        <ng-content></ng-content>
      </div>
    </div>
    <pre *ngIf="showHtml" class="text-sm">
      {{ internalValue }}
    </pre>
  </div>
</div>
