#formFilter {
  @apply p-2 rounded-bl-md rounded-br-md flex flex-col gap-4;
  background-color: var(--mr-art-search-bg-color);
}

.mr-sort-filter-container .mr-sort-filter span,
span.mr-suboption-filter {
  color: var(--mr-art-search-labels-color);
}


.mr-filter-container {
  @apply grid w-full grid-cols-4 items-start gap-1 sm:grid-cols-9 lg:grid-cols-4 xl:grid-cols-9;
}

.mr-filter-item {
  @apply w-full col-span-4 sm:col-span-3 lg:col-span-2 xl:col-span-3 min-h-8 justify-start;
}

.mr-filter-item-trash {
  @apply flex items-center justify-center col-span-1;
}

.mr-filter-item-query {
  @apply col-span-3 w-full sm:col-span-8 xl:col-span-8 lg:col-span-3;
}

.filter-input-container {
  // @apply flex flex-col gap-1;
  @apply relative overflow-visible;
}

.filter-results-count {
  @apply text-xs text-black-100 px-2 select-none dark:text-white-300 ml-2 absolute right-1 top-1 rounded-full bg-main-300 dark:bg-main-600 flex items-center justify-center;
  z-index: 10;
}