<div
  class="art-section flex flex-row flex-wrap gap-1"
  *ngIf="tags; else noTags">
  <span class="tag text-xs italic" *ngFor="let tag of listTags">
    <!-- TODO: añadir este replace?? -->
    <!-- @tag.Replace(" ", "") -->
    #{{ tag.toLowerCase() }}
  </span>
</div>

<ng-template #noTags>
  <div class="art-section flex flex-row gap-5">
    <div
      class="icon flex flex-nowrap justify-end gap-2 overflow-x-hidden font-light">
      <i class="bi" [ngClass]="selectedType.icon"></i>
      <!-- <span class="title uppercase">{{ selectedType.text }}</span> -->
    </div>

    <div
      class="mr-details-section-content"
      [ngClass]="{ large: large, capitalize: capitalize }">
      <ul *ngIf="listItems.length > 0">
        <li *ngFor="let item of listItems">
          {{ item }}
        </li>
      </ul>

      <div
        *ngIf="
          rawText && selectedType.id !== 'votes' && selectedType.id !== 'views'
        "
        [innerHTML]="rawText"></div>
      <ng-content></ng-content>
      <ng-container *ngIf="selectedType.id === 'views'">
        {{ text(selectedType.textCode!) | mrTranslate: { views: rawText } }}
      </ng-container>
      <ng-container *ngIf="selectedType.id === 'votes'">
        {{ text(selectedType.textCode!) | mrTranslate: { votes: rawText } }}
      </ng-container>
    </div>
  </div>
</ng-template>
