<app-layout>
  <div
    *ngIf="loading || !drawingNotFound"
    class="flex flex-col flex-nowrap gap-2 sm:grid sm:grid-cols-2"
    [ngClass]="{ favorite: drawing.favorite }">
    <div class="flex w-full flex-col gap-2 sm:col-span-2">
      <app-loading [loading]="loading">
        <h1 class="mr-image-page-title" content *ngIf="drawing.title !== ''">
          <span>
            <app-translatable [originalText]="drawing.title">
            </app-translatable>
          </span>
        </h1>
        <div loading class="h-8 w-full"></div>
      </app-loading>
    </div>

    <div class="flex w-full flex-col flex-nowrap gap-2">
      <app-art-details-image
        [loading]="loading"
        [drawing]="drawing"
        (submittedCheer)="receiveCheer($event)"></app-art-details-image>
    </div>
    <div class="w-full" *ngIf="drawing">
      <app-drawing-info
        [drawing]="drawing"
        [loading]="loading"
        (voteSubmitted)="receiveVoteSubmitted($event)">
      </app-drawing-info>
    </div>
  </div>

  <div
    *ngIf="!loading && drawingNotFound"
    class="flex flex-col flex-nowrap gap-3">
    <h1>
      {{ text('NOTFOUND.TITLE') | mrTranslate }}
    </h1>
    <h3>
      {{ text('NOTFOUND.SUBTITLE') | mrTranslate: { id } }}
    </h3>
    <a routerLink="/art">
      {{ text('NOTFOUND.GO-TO-GALLERY') | mrTranslate }}
    </a>
  </div>
</app-layout>
