/* Title of the Drawing */
.mr-image-page-title {
  @apply border-b italic;
  transition: var(--mr-transition-time) ease-in-out;
  color: var(--mr-drawing-details-title-color) !important;
  border-color: var(--mr-drawing-details-title-color) !important;
}