<app-layout>
  <div
    class="flex flex-col flex-nowrap gap-2 sm:grid sm:grid-cols-2"
    [ngClass]="{ favorite: drawing.favorite }">
    <div class="flex w-full flex-col gap-2 sm:col-span-2">
      <h1 class="mr-image-page-title">
        <app-loading [loading]="loading">
          <span content>
            <app-translatable [originalText]="drawing.title">
            </app-translatable>
          </span>
          <div loading class="h-8 w-full"></div>
        </app-loading>
      </h1>
    </div>

    <div class="flex w-full flex-col flex-nowrap gap-2">
      <app-art-details-image
        [loading]="loading"
        [drawing]="drawing"
        (submittedCheer)="receiveCheer($event)"></app-art-details-image>
    </div>
    <div class="w-full" *ngIf="drawing">
      <app-tab-panel [tabs]="panelTabs" selectedTab="comments">
        <app-loading [loading]="loading" tab-content-comments>
          <div class="container flex flex-col gap-3" loading>
            <div class="container flex flex-col gap-1">
              <div class="h-4 w-full"></div>
              <div class="h-4 w-full"></div>
              <div class="h-4 w-1/3"></div>
            </div>
            <div class="container flex flex-col gap-1">
              <div class="h-4 w-full"></div>
              <div class="h-4 w-full"></div>
              <div class="h-4 w-4/5"></div>
            </div>
            <div class="container flex flex-col gap-1">
              <div class="h-4 w-full"></div>
              <div class="h-4 w-1/2"></div>
            </div>
          </div>
          <div content>
            <app-art-details-comment-wrapper
              [comments]="drawing.listComments"
              [type]="''">
            </app-art-details-comment-wrapper>
          </div>
        </app-loading>

        <app-loading [loading]="loading" tab-content-likes>
          <div class="container flex flex-col gap-1" loading>
            <div class="h-4 w-full"></div>
            <div class="h-4 w-full"></div>
            <div class="h-4 w-4/5"></div>
          </div>
          <div content>
            <app-art-details-comment-wrapper
              [comments]="drawing.listCommentPros"
              [type]="'like'">
            </app-art-details-comment-wrapper>
          </div>
        </app-loading>

        <app-loading [loading]="loading" tab-content-dislikes>
          <div class="container flex flex-col gap-1" loading>
            <div class="h-4 w-full"></div>
            <div class="h-4 w-1/4"></div>
          </div>
          <div content>
            <app-art-details-comment-wrapper
              [comments]="drawing.listCommentCons"
              [type]="'dislike'">
            </app-art-details-comment-wrapper>
          </div>
        </app-loading>

        <app-loading [loading]="loading" tab-content-spotify>
          <div class="h-32 w-full" loading></div>
          <div content>
            <app-spotify-track
              *ngIf="drawing.spotifyTrackId !== ''; else noSpotifyTrack"
              [trackId]="drawing.spotifyTrackId"></app-spotify-track>
            <ng-template #noSpotifyTrack>
              <p>{{ text('NOSPOTIFY') | mrTranslate }}</p>
            </ng-template>
          </div>
        </app-loading>

        <app-loading [loading]="loading" tab-content-vote>
          <div class="container flex flex-col gap-2" loading>
            <div class="container flex justify-between">
              <div class="h-4 w-2/5"></div>
              <div class="h-4 w-1/4"></div>
            </div>
            <div class="h-2 w-full"></div>
            <div class="h-4 w-1/4"></div>
          </div>
          <div content>
            <app-art-details-score-board
              [drawing]="drawing"
              (voteSubmitted)="receiveVoteSubmitted($event)">
            </app-art-details-score-board>
          </div>
        </app-loading>

        <app-loading [loading]="loading" tab-content-details>
          <div class="container flex flex-col gap-2" loading>
            <div class="container grid grid-cols-8 items-center gap-2">
              <div class="h-6 w-6"></div>
              <div class="col-span-7 h-4 w-4/6"></div>
            </div>
            <div class="container grid grid-cols-8 items-center gap-2">
              <div class="h-6 w-6"></div>
              <div class="col-span-7 h-4 w-5/6"></div>
            </div>
            <div class="container grid grid-cols-8 items-center gap-2">
              <div class="h-6 w-6"></div>
              <div class="col-span-7 h-4 w-2/3"></div>
            </div>
            <div class="container grid grid-cols-8 items-center gap-2">
              <div class="h-6 w-6"></div>
              <div class="col-span-7 h-4 w-1/2"></div>
            </div>
            <div class="container grid grid-cols-8 items-center gap-2">
              <div class="h-6 w-6"></div>
              <div class="col-span-7 h-4 w-10/12"></div>
            </div>
          </div>
          <div content>
            <div
              class="col-span-1 flex flex-col flex-nowrap gap-2 sm:col-span-2">
              <app-details-section
                type="views"
                [rawText]="drawing.views.toString()">
              </app-details-section>

              <app-details-section
                type="votes"
                [rawText]="drawing.votesPopular.toString()">
              </app-details-section>

              <app-details-section
                type="date"
                [rawText]="
                  drawing.date !== '' ? drawing.formattedDate : 'No Date Known'
                ">
              </app-details-section>

              <app-details-section type="time" [rawText]="drawing.timeHuman">
              </app-details-section>

              <app-details-section type="style" [rawText]="drawing.typeName">
              </app-details-section>

              <app-details-section
                *ngIf="drawing.software > 0"
                type="software"
                [rawText]="drawing.softwareName">
              </app-details-section>

              <app-details-section
                *ngIf="drawing.paper > 0"
                type="paper"
                [rawText]="drawing.paperHuman">
              </app-details-section>

              <app-details-section
                *ngIf="drawing.productType > 0 && drawing.productName !== ''"
                [type]="getProductSectionType()"
                [rawText]="drawing.productName">
              </app-details-section>

              <app-details-section
                *ngIf="drawing.modelName !== ''"
                type="model"
                [rawText]="drawing.modelName">
              </app-details-section>

              <app-details-section
                *ngIf="drawing.referenceUrl !== ''"
                type="reference">
                <a [href]="drawing.referenceUrl" target="_blank">{{
                  text('DETAILS.OPEN-REFERENCE') | mrTranslate
                }}</a>
              </app-details-section>

              <app-details-section
                class="sm:col-span-2"
                *ngIf="drawing.tags.length > 0"
                [tags]="true"
                [capitalize]="true"
                [listTags]="drawing.tags">
              </app-details-section>
            </div>
          </div>
        </app-loading>
      </app-tab-panel>
    </div>
  </div>

  <div *ngIf="drawingNotFound" class="flex flex-col flex-nowrap gap-3">
    <h1>
      {{ text('NOTFOUND.TITLE') | mrTranslate }}
    </h1>
    <h3>
      {{ text('NOTFOUND.SUBTITLE') | mrTranslate: { id } }}
    </h3>
    <a routerLink="/art">
      {{ text('NOTFOUND.GO-TO-GALLERY') | mrTranslate }}
    </a>
  </div>
</app-layout>
