@import '../../../../styles/variables.scss';


/* Title of the Drawing */
.mr-image-page-title {
  color: var(--mr-chat-color) !important;
  font-style: italic;
  transition: var(--mr-transition-time) ease-in-out;
}

/* First column, including the image and the likes */
.mr-first-column-image {}

/* Title of the image */
.mr-image-detail-title {
  margin-bottom: 0px;
  color: var(--mr-text-color);
}

/* Subtitle of the image*/
.mr-image-detail-subtitle {
  font-size: var(--mr-font-size-small);
  color: var(--mr-text-color-not-important);
}

/* Full Image container */
.mr-img-full-container {
  position: relative;
  border: var(--mr-border-size) solid var(--mr-chat-color);
  border-radius: var(--mr-border-radius);
  padding: var(--mr-padding-btw-border-image);
  width: -webkit-fill-available;
  min-height: 100px;
  transition: var(--mr-transition-time) ease;
}

.mr-img-full-container.fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  align-items: center;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: var(--mr-background-color-fullscreen-image);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 0px;
}

.mr-img-full-container.fullscreen img {
  height: auto;
  width: auto;
  /* object-fit: cover; */
  max-width: 100%;
  max-height: 100%;
}


/* If the image is a favorite, change border color */
.mr-img-full-container.favorite {
  border-color: var(--mr-color-gold);
}

/* Favorite Icon */
#iFavoriteIcon {
  display: none;
}

/* Favorite Icon */
.mr-img-full-container.favorite #iFavoriteIcon {
  position: absolute;
  display: block;
  top: var(--mr-spacing-img-buttons);
  right: var(--mr-spacing-img-buttons);
  color: var(--mr-color-gold);
  text-shadow: 0px 0px 10px var(--mr-color-gold);
}

#divIconFullScreen {
  position: absolute;
  display: block;
  top: var(--mr-spacing-img-buttons);
  left: var(--mr-spacing-img-buttons);
  color: black;
  transition: var(--mr-transition-time) ease-in-out;
  color: var(--mr-chat-color);
  font-size: var(--mr-font-size-large);
  text-shadow: 1px 1px 0px black;
}

#divIconFullScreen #iFS {
  display: block;
}

#divIconFullScreen #iFSe {
  display: none;
}

#divImgFull.fullscreen #iFS {
  display: none;
}

#divImgFull.fullscreen #iFSe {
  display: block;
}



#divIconFullScreen:hover {
  color: white;
  cursor: pointer;
}

/* Watermark */
/*.mr-img-full-container::after {
    content: "MiguelRomeral";
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 5px #ffffff85;
}*/
/* Full resolution image */
img.mr-img-full {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
  border-radius: var(--mr-border-radius-image);
  transition: var(--mr-transition-time) ease-in-out;
}

/* Placeholder shown before the own image if error */
.mr-img-full-container .mr-error-load-placeholder {
  z-index: 1;
}


/* Like button */
#btnCheer {
  background-color: var(--mr-color-red);
  border-radius: 50px;
  padding: 5px 20px;
  font-weight: var(--mr-font-weight-bold);
  cursor: pointer;
  transition: var(--mr-transition-time) ease-in;
}

/* Like Button disabled */
#btnCheer:disabled {
  animation: none;
  background-color: black;
}

/* Container of the likes and views */
.mr-stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: var(--mr-margin-vertical);
}

/* Item of the likes or views */
.mr-stats-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--mr-gap-icon-text);
}

/* Item of the likes */
.mr-stats-item.likes {
  color: var(--mr-color-red-light);
}

/* Container of the like count, for animation purposes*/
#divContainerLikes {
  display: inline-flex;
}

// https://stackoverflow.com/questions/19400183/how-to-style-chat-bubble-in-iphone-classic-style-using-css-only
/* Column that displays the messages */
.mr-social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

/* Column that displays the messages */
div.mr-chat-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

/* Every row of the chat */
.mr-chat-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}

.mr-comments .mr-chat-message-container {
  /*padding-right: 10px;*/
}

.mr-comments .mr-chat-message-container:has(.last) {
  padding-right: 10px;
}

/* Container for the left part of the message (the text, not including the image) */
.mr-chat-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*margin-right: 10px;*/
  width: -webkit-fill-available;
}

/* Text of the message */
.mr-chat-message {
  background: var(--mr-chat-color);
  font-weight: var(--mr-font-weight-medium);
  color: var(--mr-text-color-opposite);
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: var(--mr-chat-margin-vertical);
  margin-bottom: var(--mr-chat-margin-vertical);
  display: inline-block;
  position: relative;
  width: 100%;
  transition: var(--mr-transition-time) ease-in-out;
}

/* Space from the last message to line up the image at its right side */
.mr-chat-message.last {
  margin-bottom: 20px !important;
}

.mr-chat-icon {
  position: absolute;
  border: var(--mr-border-size) solid var(--mr-chat-color);
  border-radius: 20px;
  width: 40px;
  background-color: var(--mr-bg-color);
  /* text-align: center; */
  right: 10px;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dislikes .mr-chat-icon {
  border-color: var(--mr-chat-color-dislikes);
}

.likes .mr-chat-icon {
  border-color: var(--mr-chat-color-likes);
}

/* Apex of the last message (colored) */
.mr-chat-message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: var(--mr-chat-color);
  border-bottom-left-radius: 15px;
}

/* Apex of the last message (background) */
.mr-chat-message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: var(--mr-background-color);
  border-bottom-left-radius: 10px;
}

/* Row of pros */
.mr-chat-row.likes div {
  color: var(--mr-chat-color-likes);
}

/* Row of pros */
.mr-chat-row.likes .mr-chat-message:hover {
  background-color: var(--mr-chat-color-likes);
  color: var(--mr-text-color-opposite);
}


/* Message of pros */
.mr-chat-row.likes .mr-chat-message {
  background-color: transparent;
  border: 2px solid var(--mr-chat-color-likes);
}

/* Row of cons */
.mr-chat-row.dislikes div {
  color: var(--mr-chat-color-dislikes);
}

/* Message of cons */
.mr-chat-row.dislikes .mr-chat-message {
  background-color: transparent;
  border: 2px solid var(--mr-chat-color-dislikes);
}

.mr-chat-row.dislikes .mr-chat-message:hover {
  background-color: var(--mr-chat-color-dislikes);
  color: var(--mr-text-color-opposite);
}

@media (min-width: 992px) {
  .mr-row-pros-cons {
    flex-direction: column !important;
    align-content: flex-start !important;
  }

  .mr-row-pros-cons>div {
    flex: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mr-row-pros-cons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    /*margin: 0px 3px;*/
    gap: 20px;
  }

  .mr-row-pros-cons>div {
    flex: 1;
  }
}

.mr-chat-row.likes .mr-chat-message,
.mr-chat-row.dislikes .mr-chat-message {
  margin-bottom: 20px;
}


.mr-tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.mr-tag {
  font-size: var(--mr-font-size-small);
  background-color: var(--mr-chat-color-secondary);
  padding: 0px 5px;
  border-radius: var(--mr-border-radius);
}

.mr-thanks-message {
  background-color: var(--mr-chat-color);
  color: var(--mr-text-color-opposite);
  position: absolute;
  border-radius: var(--mr-border-radius);
  padding: 2px 10px;
  z-index: 10000;
  border: 1px solid var(--mr-chat-color-secondary);
  font-weight: var(--mr-font-weight-bold);
}


.mr-scores {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px 0px;
  user-select: none;
  /*border: 1px solid white;*/
  border-radius: 4px;
  padding: 4px;
  background-color: red;
  background-color: var(--mr-vote-card-background-color);
}

.mr-scores-reviews {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.mr-scores-critic,
.mr-scores-popular-span {
  padding: 8px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mr-score-background-color-none);
  color: var(--mr-text-color-opposite);
  font-size: xx-large;
  font-weight: var(--mr-font-weight-bold);
}

.mr-scores-critic-container {
  position: relative;
}

.mr-scores-critic {
  border-radius: 8px;
}

.mr-scores-popular-span {
  border-radius: 30px;
  transition: var(--mr-transition-time);
}

.mr-scores-popular {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.mr-scores-popular-votes {
  font-size: var(--mr-font-size-small);
  color: var(--mr-text-color-not-important);
  padding: 0px 5px;
  border-radius: 20px;
  transition: var(--mr-transition-time);
}

#spNumberUserVotes {
  transition: var(--mr-transition-time);
}

#btnOpenVoteForm {
  position: relative;
  top: 10px;
  border-radius: 30px;
}

#btnVote {
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}

#cardVoteForm {
  /*background-color: var(--mr-vote-card-background-color);*/
  background-color: transparent;
  color: var(--mr-text-color);
  border: none;
}

#voteForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

#divLabelVote {
  display: flex;
  justify-content: space-between;
}

#spScoreUser {
  flex-grow: 0;
  font-weight: var(--mr-font-weight-bold);
  font-size: var(--mr-font-size-large);
  border: 1px solid black;
  /* padding: 0px 5px; */
  border-radius: 4px;
  width: 50px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--mr-transition-time);
}

#spScoreUser:hover {
  box-shadow: 0px 0px var(--mr-text-shadow-score) white;
}

#spScoreUser.bad {
  color: var(--mr-score-background-color-bad);
  border-color: var(--mr-score-background-color-bad);
}

#spScoreUser.bad:hover {
  box-shadow: 0px 0px var(--mr-text-shadow-score) var(--mr-score-background-color-bad);
}

#spScoreUser.mild {
  color: var(--mr-score-background-color-mild);
  border-color: var(--mr-score-background-color-mild);
}

#spScoreUser.mild:hover {
  box-shadow: 0px 0px var(--mr-text-shadow-score) var(--mr-score-background-color-mild);
}

#spScoreUser.good {
  color: var(--mr-score-background-color-good);
  border-color: var(--mr-score-background-color-good);
}

#spScoreUser.good:hover {
  box-shadow: 0px 0px var(--mr-text-shadow-score) var(--mr-score-background-color-good);
}

#spScoreUser.platinum {
  color: var(--mr-score-platinum-blue);
  border-color: var(--mr-score-platinum-blue);
}

#spScoreUser.platinum:hover {
  box-shadow: 0px 0px var(--mr-text-shadow-score) var(--mr-score-platinum-blue);
}

.mr-score-image {
  background-color: var(--mr-vote-card-background-color);
  padding: 2px;
  border-radius: 30px;
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.mr-score-image img {
  background-color: var(--mr-vote-card-background-color);
}

.mr-image-page-title:hover {
  color: var(--mr-text-color) !important;

}