@import 'inputs/button.scss';
@import 'inputs/checkbox.scss';
@import 'inputs/select.scss';
@import 'inputs/textfield.scss';
@import 'inputs/range.scss';
@import 'inputs/switch.scss';


select {
  @apply w-full;
}

.mr-custom-select:hover,
.mr-custom-btn:hover,
.btn:hover {
  background-color: var(--mr-input-bg-color);
  color: var(--mr-text-color);
}

.form-group {
  @apply flex flex-col w-full gap-2
}


.form-error {
  @apply bg-red-400 text-white-50 p-2;
}


.dark input {
  color-scheme: dark;
}

input,
select,
label.choice-label {
  border: 1px solid var(--mr-input-border-color);
  transition: 0.2s ease-in-out;
}

input:hover,
select:hover,
label.choice-label:hover {
  border-color: theme('colors.main.400') !important;
}

.dark input:hover,
.dark select:hover,
.dark label.choice-label:hover {
  border-color: theme('colors.main.500') !important;
}