.mr-custom-select {
  background-color: var(--mr-control-background-color);
  border: 1px solid var(--mr-chat-color);
  color: var(--mr-text-color);
  height: var(--mr-control-height);
  display: flex;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  cursor: pointer;
}

.mr-custom-btn {
  background-color: var(--mr-chat-color);
  border: 1px solid var(--mr-chat-color);
  color: var(--mr-text-color-opposite);
  height: var(--mr-control-height);
  display: flex;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  cursor: pointer;
}


.mr-custom-range::-webkit-slider-thumb {
  background-color: var(--mr-chat-color);
}

.mr-custom-range::-webkit-slider-thumb:hover {
  background-color: var(--mr-chat-color-secondary);
}

.mr-custom-range::-webkit-slider-runnable-track {
  background-color: var(--mr-custom-range-track-color);
}