.mr-custom-select {
  background-color: var(--mr-input-bg-color);
  border: 1px solid var(--mr-chat-color);
  color: var(--mr-text-color);
  height: var(--mr-control-height);
  display: flex;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  cursor: pointer;
}

.mr-custom-btn {
  background-color: var(--mr-chat-color);
  border: 1px solid var(--mr-chat-color);
  color: var(--mr-text-color-opposite);
  height: var(--mr-control-height);
  display: flex;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  cursor: pointer;
}


.mr-custom-range::-webkit-slider-thumb {
  background-color: var(--mr-chat-color);
}

.mr-custom-range::-webkit-slider-thumb:hover {
  background-color: var(--mr-chat-color-secondary);
}

.mr-custom-range::-webkit-slider-runnable-track {
  background-color: var(--mr-custom-range-track-color);
}

.choice-label {
  color: var(--mr-color-gold);
  background-color: transparent;
  border: 1px solid var(--mr-color-gold);
  padding: 0px 10px;
  border-radius: 20px;
  transition: var(--mr-transition-time) ease-out;
  cursor: pointer;
}

.mr-choice-filter:has(input:checked) .choice-label {
  color: black;
  background-color: var(--mr-color-gold);
}

.mr-choice-filter input {
  display: none;
}


.mr-choice-filter {
  color: var(--mr-color-gold);
}