@import './variables.scss';


html.dark .mr-bottom-bar {
  background-color: var(--mr-nav-color-light);
}

/*html.dark nav a, html.dark .nav-link, html.dark a {
      color: var(--mr-color-emphasis-light) !important;
  }*/

html.dark .mr-collection-section {
  background-color: var(--mr-nav-color-light);
}

html.dark .mr-chat-message {
  color: var(--mr-text-color-dark);
}


html.dark .mr-tag {
  background-color: var(--mr-nav-color-light);
  color: var(--mr-text-color-light);
}

html.dark .mr-thanks-message {
  color: var(--mr-background-color-light);
}


html.dark .mr-powered-by-logos {
  filter: grayscale(100%) invert(85%);
}

html.dark .mr-bottom-profile-pic {
  background-color: var(--mr-nav-color-light);
}

html.dark .mr-bottom-bar-button:hover {
  background-color: var(--mr-chat-color);
  color: white !important;
}

html.dark .mr-img-thumbnail-title {
  background: linear-gradient(160deg, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
}

html.dark .favorite .mr-img-thumbnail-title {
  background: linear-gradient(160deg, transparent 0%, var(--mr-color-gold) 100%);
  color: white;
}


html:not([style*="--mr-chat-color"]) {
  --mr-chat-color: var(--mr-chat-color-light);
}


:root .dark {
  $mr-background-color: $mr-background-color-dark;


  --mr-text-color: var(--mr-text-color-light);
  --mr-text-color-opposite: var(--mr-text-color-dark);
  --mr-control-background-color: var(--mr-control-background-color-light);
  --mr-ff-border-color: #b6b6b6;
  --mr-development-banner-color: var(--mr-development-banner-color-light);
  --mr-thumbnail-date-background-color: var(--mr-thumbnail-date-background-color-light);
  /*--mr-text-color-not-important: var(--mr-text-color-not-important-light);*/
  --mr-score-background-color-none: var(--mr-score-background-color-none-light);
  --mr-score-text-color-none: var(--mr-score-text-color-none-light);
  --mr-vote-card-background-color: var(--mr-vote-card-background-color-light);
  --mr-custom-range-track-color: var(--mr-custom-range-track-color-light);
  --mr-thumbnails-details-background: var(--mr-thumbnails-details-background-light);
  --mr-thumbnails-details-background-carousel: var(--mr-thumbnails-details-background-carousel-light);
}