::-webkit-scrollbar {
  width: var(--mr-scrollbar-width);
  height: var(--mr-scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--mr-scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--mr-scrollbar-color);
}