@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';
@import './normalize.scss';
@import './inputs.scss';
@import './animations.scss';
@import './scrollbar.scss';
@import './settings.scss';
@import './todo.scss';
@import './alerts.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  @apply text-base;
}


// .nav-link {
//   color: var(--mr-background-color) !important;
//   font-weight: var(--mr-font-weight-bold);
// }


/* Profile Picture */
img.mr-chat-image-miguel {
  @apply rounded-full border select-none pointer-events-none;
  width: var(--mr-profile-pic-size-bottom-bar);
  height: var(--mr-profile-pic-size-bottom-bar);
  border: var(--mr-border-size) solid var(--mr-nav-profile-pic-border-color);
  padding: var(--mr-padding-picture);
}

img {
  user-select: none;
  pointer-events: none;
}

.mr-thanks-message {
  @apply absolute px-3 py-1 font-bold;
  background-color: var(--mr-thanks-message-bg-color);
  color: var(--mr-thanks-message-text-color);
  z-index: 10000;
}


.skeleton {
  @apply animate-pulse;
}

.skeleton div:not(.container) {
  @apply bg-gray-200 dark:bg-gray-700 rounded-sm;
}