@tailwind base;
@tailwind components;
@tailwind utilities;


// @layer base {
//   @import '~quill/dist/quill.snow.css';
//   @import '~quill/dist/quill.core.css';
// }


@import './variables.scss';
@import './normalize.scss';
@import './inputs.scss';
@import './animations.scss';
@import './scrollbar.scss';
@import './settings.scss';
@import './todo.scss';
@import './alerts.scss';
@import './cv.scss';
@import './print.scss';


html {
  position: relative;
  min-height: 100%;
}

body {
  @apply text-base;
}


// .nav-link {
//   color: var(--mr-background-color) !important;
//   font-weight: var(--mr-font-weight-bold);
// }


/* Profile Picture */
img.mr-chat-image-miguel {
  @apply rounded-full border select-none pointer-events-none;
  width: var(--mr-profile-pic-size-bottom-bar);
  height: var(--mr-profile-pic-size-bottom-bar);
  border: var(--mr-border-size) solid var(--mr-nav-profile-pic-border-color);
  padding: var(--mr-padding-picture);
}

img {
  user-select: none;
  pointer-events: none;
}

.mr-thanks-message {
  @apply absolute px-3 py-1 font-bold;
  background-color: var(--mr-thanks-message-bg-color);
  color: var(--mr-thanks-message-text-color);
  z-index: 10000;
}


.skeleton {
  @apply animate-pulse;
}

.skeleton div:not(.container) {
  @apply bg-gray-200 dark:bg-gray-700 rounded-sm;
}


blockquote {
  @apply border-l-4 border-solid border-main-700 dark:border-main-300 my-2 pl-4;
}

pre {
  @apply font-mono bg-white-500 dark:bg-black-500 p-2 rounded-md text-sm;
}


// Esto tiene que estar aquí porque en su componente no funcionaba bien
.mr-img-full-container.fullscreen img {
  @apply max-h-screen w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl object-contain;
}

.fullscreen .image-container {
  max-height: 100vh !important;
}

#divPageErrors {
  @apply fixed bottom-14 lg:bottom-0 mb-2 flex h-min flex-col-reverse items-stretch gap-2;
  width: -webkit-fill-available;
}

.mr-error-content {
  @apply border border-red-500 bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-200;
}

.mr-error-msg {
  @apply p-2 relative;
  opacity: 0;
  animation: mr-error-msg-anim 7s ease-in-out forwards;
}

@keyframes mr-error-msg-anim {
  0% {
    opacity: 0;
    z-index: -1;
  }

  5%,
  80% {
    opacity: 1;
    z-index: 1000;
  }

  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}