@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';
@import './normalize.scss';
@import './animations.scss';
@import './controls.scss';
@import './light-theme.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  /*transition: var(--mr-transition-time);*/
  font-size: var(--mr-font-size-default);
}



.mr-loader-container {
  position: relative;
  transition: var(--mr-transition-time) ease-in-out;
}

.mr-loader {
  position: absolute;
  z-index: -1;
  display: flex;
  background: #00000000;
  width: -webkit-fill-available;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: -webkit-fill-available;
  backdrop-filter: blur(5px);
  text-shadow: 1px 1px 1px black;
  transition: var(--mr-transition-time) ease-in-out;
  z-index: 1000;
  opacity: 1;
}


img.mr-loading-icon-pacman {
  width: var(--mr-pacman-size);
  height: auto;
}

span.mr-loader-subtitle {
  font-style: italic;
  font-weight: var(--mr-font-weight-bold);
}

.mr-custom-select {
  background-color: var(--mr-control-background-color);
  border: 1px solid var(--mr-chat-color);
  color: var(--mr-text-color);
  height: var(--mr-control-height);
  display: flex;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  cursor: pointer;
}

.mr-custom-btn {
  background-color: var(--mr-chat-color);
  border: 1px solid var(--mr-chat-color);
  color: var(--mr-text-color-opposite);
  height: var(--mr-control-height);
  display: flex;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  cursor: pointer;
}


.mr-custom-text {
  height: var(--mr-control-height);
  background-color: var(--mr-control-background-color);
  color: var(--mr-text-color);
  border-color: var(--mr-chat-color);
}

.mr-custom-select:hover,
.mr-custom-btn:hover {
  background-color: var(--mr-control-background-color);
  color: var(--mr-text-color);
}


.hide-on-load {
  opacity: 0 !important;
}

.nav-link {
  color: var(--mr-background-color) !important;
  font-weight: var(--mr-font-weight-bold);
}

img.mr-chat-image-miguel.brand {
  transition: var(--mr-transition-time);
}

a:hover>img.mr-chat-image-miguel.brand {
  border-color: var(--mr-color-gold);
}

/* Profile Picture */
img.mr-chat-image-miguel {
  width: var(--mr-profile-pic-size-bottom-bar);
  height: var(--mr-profile-pic-size-bottom-bar);
  border-radius: var(--mr-profile-pic-size-bottom-bar);
  border: var(--mr-border-size) solid var(--mr-chat-color);
  padding: var(--mr-padding-picture);
  user-select: none;
  pointer-events: none;
}


/* Each container section of the detail */
.mr-details-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--mr-margin-vertical);
}

.mr-details-section-title {
  font-weight: var(--mr-font-weight-bold);
  text-transform: uppercase;
  font-size: var(--mr-font-size-small);
}


.mr-powered-by-logos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: auto;
  gap: var(--mr-padding-powered-logos);
  align-items: flex-end;
}

.mr-powered-by-logos-azure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  user-select: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: var(--mr-scrollbar-width);
  height: var(--mr-scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--mr-scrollbar-background-color);
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
}

::-webkit-scrollbar-thumb {
  background: var(--mr-scrollbar-color);
  border-radius: var(--mr-scrollbar-border-radius);
}

/* Links Redes Sociales en Inspiraciones */
div.mr-social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}

.dropdown-menu {
  background-color: var(--mr-background-color);
  border-color: var(--mr-chat-color);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--mr-background-color);
}

#bannerDevelopmentMode {
  position: fixed;
  top: 6px;
  right: 3px;
  font-size: x-small;
  z-index: 1001;
  width: auto;
}

#bottomBarTextAbout {
  bottom: 2px;
}


.mr-body {
  padding-bottom: var(--mr-bottom-bar-height);
  padding-top: 12px;
}

.mr-padding-space {
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .mr-body {
    width: var(--mr-body-width);
    position: fixed;
    top: 0px;
    left: calc(var(--mr-bottom-bar-width) + var(--mr-bottom-bar-width-margin) + var(--mr-bottom-bar-width-margin));
    padding: 10px 0px;
    overflow-y: scroll;
    overflow-x: clip;
    /* margin: 10px 0px; */
    height: -webkit-fill-available;
  }

  .mr-bottom-profile-pic {
    text-align: left;
  }


  #bottomBarTextAbout {
    bottom: 0px;
  }




  #bannerDevelopmentMode {
    position: fixed;
    top: 6px;
    left: 3px;
    width: auto;
  }
}

.mr-development-banner {
  color: var(--mr-development-banner-color);
}



.mr-custom-range::-webkit-slider-thumb {
  background-color: var(--mr-chat-color);
}

.mr-custom-range::-webkit-slider-thumb:hover {
  background-color: var(--mr-chat-color-secondary);
}

.mr-custom-range::-webkit-slider-runnable-track {
  background-color: var(--mr-custom-range-track-color);
}

.mr-score-bad {
  background: var(--mr-score-background-color-bad) !important;
  color: var(--mr-score-text-color-bad) !important;
}

.mr-score-mild {
  background-color: var(--mr-score-background-color-mild) !important;
  color: var(--mr-score-text-color-mild) !important;
}

.mr-score-good {
  background-color: var(--mr-score-background-color-good) !important;
  color: var(--mr-score-text-color-good) !important;
}

.mr-score-platinum {
  background: var(--mr-score-background-color-platinum) !important;
  color: var(--mr-score-text-color-platinum) !important;
  border: 1px solid var(--mr-score-platinum-blue) !important;
  text-shadow: 1px 1px 0px var(--mr-score-platinum-blue) !important;
}



.mr-hide-kudos .kudos,
.mr-hide-views .views,
.mr-hide-spotify .mr-spotify,
.mr-hide-comment-pros .mr-comment-pro,
.mr-hide-comment-cons .mr-comment-con,
.mr-hide-score-miguel .mr-score-miguel,
.mr-hide-score-popular .mr-score-popular {
  display: none !important;
}

.mr-details-section-title {
  color: var(--mr-chat-color);
}


.mr-home-menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.mr-home-menu-item {
  flex-grow: 1;
  padding: 8px;
}



.carousel-control-next,
.carousel-control-prev {
  background-color: var(--mr-chat-color);
  border-radius: 50px;
  height: fit-content;
  padding: 10px;
  align-content: center;
  align-self: center;
  width: 35px;
  height: 35px;
  transform: scale(0.8);
}




/* https://github.com/craftpip/jquery-confirm */
.jconfirm-box {
  background-color: var(--mr-background-color) !important;
  max-width: 95vw;
}

.jconfirm-buttons [class^="btn"]:not([class*=" "]) {
  background-color: white;
  color: var(--mr-text-color-opposite);
}




.mr-custom-checkbox {
  height: var(--mr-control-height);
  width: var(--mr-control-height);
  border-radius: 20px !important;
  background-color: transparent;
  border: var(--mr-border-size) solid var(--mr-chat-color);
}

.mr-custom-checkbox:active,
.mr-custom-checkbox:focus,
.mr-custom-checkbox:hover {
  background-color: var(--mr-text-box-background-color);
}

.mr-custom-checkbox:checked {
  background-color: var(--mr-chat-color);
  color: var(--mr-text-color-opposite);
  background-blend-mode: exclusion;
}





.mr-thanks-message {
  background-color: var(--mr-chat-color);
  color: var(--mr-text-color-opposite);
  position: absolute;
  border-radius: var(--mr-border-radius);
  padding: 2px 10px;
  z-index: 10000;
  border: 1px solid var(--mr-chat-color-secondary);
  font-weight: var(--mr-font-weight-bold);
}