/* Background Color */
$mr-bg-color-light: theme('colors.white.DEFAULT');
$mr-bg-color-dark: theme('colors.black.DEFAULT');

/* Text Color */
$mr-text-color-light: theme('colors.black.DEFAULT');
$mr-text-color-dark: theme('colors.white.100');
$mr-text-color-opposite-light: theme('colors.white.DEFAULT');
$mr-text-color-opposite-dark: theme('colors.black.DEFAULT');
$mr-text-color-secondary-light: theme('colors.main.500');
$mr-text-color-secondary-dark: theme('colors.main.400');

/* Font Families */
$mr-font-family-josefine:
  /*'Manrope', */
  'Josefin Sans', sans-serif;
$mr-font-family-sans-serif: sans-serif;

/* Input Background Color */
$mr-input-bg-color-light: theme('colors.white.100');
$mr-input-bg-color-dark: theme('colors.black.950');


/* Profile Pic Size */
$mr-profile-pic-size: 40px;

/********************************/
//    Navbar
/********************************/
$mr-nav-bg-opacity: 0.9;
/* Navbar Background Color */
$mr-nav-bg-color-light: rgba(#f4daf7, $mr-nav-bg-opacity); // TODO: resolver esto del alpha y tailwind
$mr-nav-bg-color-dark: rgb(#131313, $mr-nav-bg-opacity); // TODO: resolver esto del alpha y tailwind
/* Navbar Background Color on Hover */
$mr-nav-bg-color-hover-light: rgba(#e9b5ef, $mr-nav-bg-opacity); // TODO: resolver esto del alpha y tailwind
$mr-nav-bg-color-hover-dark: rgba(#501c56, $mr-nav-bg-opacity); // TODO: resolver esto del alpha y tailwind
/* Navbar Text Color */
$mr-nav-text-color-light: theme('colors.main.600');
$mr-nav-text-color-dark: theme('colors.main.200');
/* Navbar Profile Pic Size */
$mr-nav-profile-pic-size: 30px;


/********************************/
//    Drawing Thumbnails
/********************************/

/* Thumbnail Date Background Color */
$mr-thumbnail-date-bg-color-light: theme('colors.black.DEFAULT');
$mr-thumbnail-date-bg-color-dark: theme('colors.white.DEFAULT');
/* Thumbnail Date Text Color */
$mr-thumbnail-date-text-color-light: theme('colors.white.DEFAULT');
$mr-thumbnail-date-text-color-dark: theme('colors.black.DEFAULT');
/* Thumbnail Background on Hover */
$mr-thumbnail-bg-hover-light: linear-gradient(160deg, transparent 0%, rgba(255, 255, 255, 0.6) 50%, #{$mr-bg-color-light} 100%);
$mr-thumbnail-bg-hover-dark: linear-gradient(160deg, transparent 0%, rgba(0, 0, 0, 0.6) 50%, #{$mr-bg-color-dark} 100%);
$mr-thumbnail-bg-hover-favorite-light: linear-gradient(160deg, transparent 0%, #ffb023 50%, #{$mr-bg-color-light} 100%); // TODO: resolver esto del alpha y tailwind
$mr-thumbnail-bg-hover-favorite-dark: linear-gradient(160deg, transparent 0%, #ffb023 50%, #{$mr-bg-color-dark} 100%); // TODO: resolver esto del alpha y tailwind
/* Thumbnail Text Color */
$mr-thumbnail-text-color-light: theme('colors.black.DEFAULT');
$mr-thumbnail-text-color-dark: theme('colors.white.DEFAULT');
$mr-thumbnail-text-color-favorite: theme('colors.white.DEFAULT');
/* Thumbnail Spotify Icon Color */
$mr-thumbnail-spotify-color: theme('colors.green.500');


/********************************/
//    Score Label
/********************************/
// Score Bad
$mr-score-bg-color-bad-light: theme('colors.red.500');
$mr-score-bg-color-bad-dark: transparent;
$mr-score-border-color-bad-light: theme('colors.red.500');
$mr-score-border-color-bad-dark: theme('colors.red.400');
$mr-score-text-color-bad-light: white;
$mr-score-text-color-bad-dark: theme('colors.red.400');
// Score Mild
$mr-score-bg-color-mild-light: theme('colors.orange.400');
$mr-score-bg-color-mild-dark: transparent;
$mr-score-border-color-mild-light: theme('colors.orange.400');
$mr-score-border-color-mild-dark: theme('colors.orange.300');
$mr-score-text-color-mild-light: theme('colors.black.DEFAULT');
$mr-score-text-color-mild-dark: theme('colors.orange.300');
// Score Good
$mr-score-bg-color-good-light: theme('colors.green.400');
$mr-score-bg-color-good-dark: transparent;
$mr-score-border-color-good-light: theme('colors.green.400');
$mr-score-border-color-good-dark: theme('colors.green.300');
$mr-score-text-color-good-light: theme('colors.black.DEFAULT');
$mr-score-text-color-good-dark: theme('colors.green.400');
// Score Platinum
$mr-score-bg-color-platinum-light: linear-gradient(135deg, white 30%, var(--mr-score-platinum-blue) 55%, white 55%, var(--mr-score-platinum-white) 100%);
$mr-score-bg-color-platinum-dark: transparent;
$mr-score-border-color-platinum-light: theme('colors.platinum.800');
$mr-score-border-color-platinum-dark: theme('colors.platinum.200');
$mr-score-text-color-platinum-light: theme('colors.platinum.950');
$mr-score-text-color-platinum-dark: theme('colors.platinum.200');

/********************************/
//    Drawing Details
/********************************/

/* Title */
$mr-drawing-details-title-color-light: theme('colors.main.400');
$mr-drawing-details-title-color-dark: theme('colors.main.500');
/* Comment Colors */
$mr-comment-like-color-light: theme('colors.green.600');
$mr-comment-like-color-dark: theme('colors.green.300');
$mr-comment-dislike-color-light: theme('colors.red.600');
$mr-comment-dislike-color-dark: theme('colors.red.300');
/* Favorite Icon */
$mr-favorite-icon-color: var(--mr-color-gold);
/* Section Info */
$mr-section-text-color-light: theme('colors.main.400');
$mr-section-text-color-dark: theme('colors.main.500');
/* Tab Panels */
$mr-tab-panel-section-color-light: theme('colors.main.500');
$mr-tab-panel-section-color-dark: theme('colors.main.300');

/********************************/
//    Drawing Search Form
/********************************/
$mr-art-search-labels-color-light: theme('colors.main.500');
$mr-art-search-labels-color-dark: theme('colors.main.300');

/********************************/
//    Settings Screen
/********************************/
$mr-setting-subject-border-color-light: theme('colors.main.500');
$mr-setting-subject-border-color-dark: theme('colors.main.300');

/********************************/
//    Header
/********************************/
$header-background-color-production-light: rgba(235, 175, 228, 0.7);
$header-background-color-production-dark: rgba(0, 0, 0, 0.7);
$header-color-production-light: rgb(66, 51, 66);
$header-color-production-dark: rgb(116, 114, 117);
$header-background-color-development-light: rgba(182, 28, 61, 0.85);
$header-background-color-development-dark: rgba(204, 35, 72, 0.7);
$header-color-development-light: rgb(209, 220, 255);
$header-color-development-dark: rgb(209, 220, 255);


/**************************************************************/

:root {
  --mr-background-color: #{$mr-bg-color-light};
  --mr-text-color: #{$mr-text-color-light};
  --mr-font-family: #{$mr-font-family-josefine};
  --mr-text-color-opposite: #{$mr-text-color-opposite-light};
  --mr-input-bg-color: #{$mr-input-bg-color-light};
  --mr-text-color-secondary: #{$mr-text-color-secondary-light};
  --mr-profile-pic-size: #{$mr-profile-pic-size};

  /* Navbar */
  --mr-nav-bg-color: #{$mr-nav-bg-color-light};
  --mr-nav-text-color: #{$mr-nav-text-color-light};
  --mr-nav-bg-color-hover: #{$mr-nav-bg-color-hover-light};
  --mr-bottom-bar-icon-width: #{$mr-nav-profile-pic-size};

  /* Drawing Thumbnails */
  --mr-thumbnail-date-background-color: #{$mr-thumbnail-date-bg-color-light};
  --mr-thumbnail-date-text-color: #{$mr-thumbnail-date-text-color-light};
  --mr-thumbnail-bg-hover: #{$mr-thumbnail-bg-hover-light};
  --mr-thumbnail-bg-hover-favorite: #{$mr-thumbnail-bg-hover-favorite-light};
  --mr-thumbnail-text-color: #{$mr-thumbnail-text-color-light};
  --mr-thumbnail-text-color-favorite: #{$mr-thumbnail-text-color-favorite};
  --mr-thumbnail-spotify-color: #{$mr-thumbnail-spotify-color};

  /* Score Label */
  --mr-score-background-color-bad: #{$mr-score-bg-color-bad-light};
  --mr-score-border-color-bad: #{$mr-score-border-color-bad-light};
  --mr-score-text-color-bad: #{$mr-score-text-color-bad-light};
  --mr-score-background-color-mild: #{$mr-score-bg-color-mild-light};
  --mr-score-border-color-mild: #{$mr-score-border-color-mild-light};
  --mr-score-text-color-mild: #{$mr-score-text-color-mild-light};
  --mr-score-background-color-good: #{$mr-score-bg-color-good-light};
  --mr-score-border-color-good: #{$mr-score-border-color-good-light};
  --mr-score-text-color-good: #{$mr-score-text-color-good-light};
  --mr-score-background-color-platinum: #{$mr-score-bg-color-platinum-light};
  --mr-score-border-color-platinum: #{$mr-score-border-color-platinum-light};
  --mr-score-text-color-platinum: #{$mr-score-text-color-platinum-light};

  /* Drawing Details */
  --mr-drawing-details-title-color: #{$mr-drawing-details-title-color-light};
  --mr-comment-like-color: #{$mr-comment-like-color-light};
  --mr-comment-dislike-color: #{$mr-comment-dislike-color-light};
  --mr-favorite-icon-color: #{$mr-favorite-icon-color};
  --mr-section-text-color: #{$mr-section-text-color-light};
  --mr-tab-panel-section-color: #{$mr-tab-panel-section-color-light};

  /* Drawing Search Form */
  --mr-art-search-labels-color: #{$mr-art-search-labels-color-light};

  /* Settings Screen */
  --mr-setting-subject-border-color: #{$mr-setting-subject-border-color-light};

  /* Header */
  --header-background-color-production: #{$header-background-color-production-light};
  --header-color-production: #{$header-color-production-light};
  --header-background-color-development: #{$header-background-color-development-light};
  --header-color-development: #{$header-color-development-light};
}


.dark {
  --mr-background-color: #{$mr-bg-color-dark};
  --mr-text-color: #{$mr-text-color-dark};
  --mr-text-color-opposite: #{$mr-text-color-opposite-dark};
  --mr-input-bg-color: #{$mr-input-bg-color-dark};

  /* Navbar */
  --mr-nav-bg-color: #{$mr-nav-bg-color-dark};
  --mr-nav-bg-color-hover: #{$mr-nav-bg-color-hover-dark};
  --mr-nav-text-color: #{$mr-nav-text-color-dark};

  /* Drawing Thumbnails */
  --mr-thumbnail-date-background-color: #{$mr-thumbnail-date-bg-color-dark};
  --mr-thumbnail-date-text-color: #{$mr-thumbnail-date-text-color-dark};
  --mr-thumbnail-bg-hover: #{$mr-thumbnail-bg-hover-dark};
  --mr-thumbnail-bg-hover-favorite: #{$mr-thumbnail-bg-hover-favorite-dark};
  --mr-thumbnail-text-color: #{$mr-thumbnail-text-color-dark};

  /* Score Label */
  --mr-score-background-color-bad: #{$mr-score-bg-color-bad-dark};
  --mr-score-border-color-bad: #{$mr-score-border-color-bad-dark};
  --mr-score-text-color-bad: #{$mr-score-text-color-bad-dark};
  --mr-score-background-color-mild: #{$mr-score-bg-color-mild-dark};
  --mr-score-border-color-mild: #{$mr-score-border-color-mild-dark};
  --mr-score-text-color-mild: #{$mr-score-text-color-mild-dark};
  --mr-score-background-color-good: #{$mr-score-bg-color-good-dark};
  --mr-score-border-color-good: #{$mr-score-border-color-good-dark};
  --mr-score-text-color-good: #{$mr-score-text-color-good-dark};
  --mr-score-background-color-platinum: #{$mr-score-bg-color-platinum-dark};
  --mr-score-border-color-platinum: #{$mr-score-border-color-platinum-dark};
  --mr-score-text-color-platinum: #{$mr-score-text-color-platinum-dark};

  /* Drawing Details */
  --mr-comment-like-color: #{$mr-comment-like-color-dark};
  --mr-comment-dislike-color: #{$mr-comment-dislike-color-dark};
  --mr-section-text-color: #{$mr-section-text-color-dark};
  --mr-tab-panel-section-color: #{$mr-tab-panel-section-color-dark};

  /* Drawing Search Form */
  --mr-art-search-labels-color: #{$mr-art-search-labels-color-dark};

  /* Settings Screen */
  --mr-setting-subject-border-color: #{$mr-setting-subject-border-color-dark};

  /* Header */
  --header-background-color-production: #{$header-background-color-production-dark};
  --header-color-production: #{$header-color-production-dark};
  --header-background-color-development: #{$header-background-color-development-dark};
  --header-color-development: #{$header-color-development-dark};
}



/* variables.css */

:root {
  --mr-background-color-secondary: #271e2c;
  --mr-text-color-terciary: rgb(199 70 215);
  --mr-color-box-shadow: #c6b896;
  --mr-color-emphasis-light: rgb(199 70 215);
  --mr-chat-color-dark: rgb(214, 125, 225);
  --mr-chat-color-light: rgb(214, 125, 225);
  --mr-chat-color: var(--mr-chat-color-dark);
  --mr-chat-color-secondary: rgb(82 63 84);
  --mr-chat-color-terciary: #121113;
  --mr-chat-color-likes: rgb(0 167 68);
  --mr-chat-color-dislikes: #f25252;
  --mr-color-red: #eb2e2e;
  --mr-color-red-light: #e16767;
  --mr-color-gold: #ffb023;
  --mr-color-spotify: #22b95b;
  --mr-nav-color: rgb(29 11 40);
  --mr-profile-pic-size-bottom-bar: 30px;
  --mr-margin-vertical: 20px;
  --mr-border-size: 2px;
  --mr-border-radius: 12px;
  --mr-padding-btw-border-image: 6px;
  --mr-border-radius-image: calc(var(--mr-border-radius) - var(--mr-padding-btw-border-image));
  --mr-transition-time: 0.3s;
  --mr-gap-icon-text: 5px;
  --mr-carousel-max-height: 400px;
  --mr-pacman-size: 30%;
  --mr-control-height: 30px;
  --mr-padding-picture: 2px;
  --mr-details-section-large-height: 150px;
  --mr-padding-powered-logos: 10px;
  --mr-scrollbar-width: 8px;
  --mr-scrollbar-border-radius: 0px;
  --mr-scrollbar-color: var(--mr-chat-color);
  --mr-scrollbar-background-color: transparent;
  --mr-bottom-bar-height: 50px;
  --mr-bottom-bar-button-color-hover: black;
  --mr-bottom-bar-width: 18vw;
  --mr-bottom-bar-width-margin: 1vw;
  --mr-bottom-bar-height-margin: 5vh;
  --mr-body-width: 80vw;
  --mr-development-banner-color-dark: cyan;
  --mr-development-banner-color-light: #0068ff;
  --mr-development-banner-color: var(--mr-development-banner-color-dark);
  --mr-link-color: var(--mr-chat-color);
  --mr-thumbnail-text-likes-color: var(--mr-color-red-light);
  --mr-background-color-fullscreen-image: rgba(0, 0, 0, 0.8);
  --mr-spacing-img-buttons: 10px;
  --mr-chat-margin-vertical: 5px;
  --mr-score-platinum-blue: #4e9fd3;
  --mr-score-platinum-white: #a5c0d4;
  --mr-score-background-color-none-dark: #8c6992;
  --mr-score-background-color-none-light: #d8bedd;
  --mr-score-background-color-none: var(--mr-score-background-color-none-dark);

  --mr-score-text-color-none-dark: black;
  --mr-score-text-color-none-light: white;
  --mr-score-text-color-none: var(--mr-score-text-color-none-dark);
  --mr-vote-card-background-color-dark: var(--mr-background-color-secondary);
  --mr-vote-card-background-color-light: var(--mr-nav-color-light);
  --mr-vote-card-background-color: var(--mr-vote-card-background-color-dark);
  --mr-custom-range-track-color-dark: var(--mr-nav-color-light);
  --mr-custom-range-track-color-light: white;
  --mr-custom-range-track-color: var(--mr-custom-range-track-color-dark);
  --mr-text-shadow-score: 20px;
}

/* FINAL FANTASY VII */
:root {
  --mr-ff-title-color: #04e5e7;
  --mr-ff-materia-size: 20px;
  --mr-ff-border-size: 3px;
  --mr-ff-border-radius: 8px;
  --mr-ff-text-color: white;
  --mr-ff-border-color: white;
  --mr-ff-hand-animation-time: 0.3s;
  --mr-ff-hand-width: 32px;
  --mr-ff-progress-bar-height: 2px;
  --mr-ff-progress-bar-width: 80px;
  --mr-ff-progress-bar-total-color: black;
  --mr-ff-progress-bar-total-health: linear-gradient(90deg, #0d7ff7, white);
  --mr-ff-progress-bar-total-magic: linear-gradient(90deg, rgb(4 255 130), white);
  --mr-ff-materia-summon-border: #fd9da2;
  --mr-ff-materia-summon-color: radial-gradient(circle at 30% 30%, white 0%, #652e2d 5%, #340400 20%, #ab1d1b 60%, var(--mr-ff-materia-summon-border) 100%);
  --mr-ff-materia-support-border: #75c4ff;
  --mr-ff-materia-support-color: radial-gradient(circle at 30% 30%, white 0%, #061194 5%, #000d33 20%, #0255fd 60%, var(--mr-ff-materia-support-border) 100%);
  --mr-ff-materia-magic-border: #8cfe81;
  --mr-ff-materia-magic-color: radial-gradient(circle at 30% 30%, white 0%, #127d14 5%, #081b0b 20%, #12b408 60%, var(--mr-ff-materia-magic-border) 100%);
}



/* Settings */
:root {
  --mr-font-weight-light: light;
  --mr-font-weight-medium: normal;
  --mr-font-weight-bold: bold;
  /* Font Size */
  --mr-font-size-large: large;
  --mr-font-size-default: medium;
  --mr-font-size-small: small;
}