<app-layout>
  <form [formGroup]="settingsForm">
    <div class="flex flex-col gap-10">
      <h1>{{ text('TITLE') | mrTranslate }}</h1>

      <app-section
        [title]="text('SECTIONS.ACCESSIBILITY') | mrTranslate"
        icon="translate">
        <app-setting-option
          [title]="text('FORM.THEME.TITLE') | mrTranslate"
          [description]="text('FORM.THEME.DESCRIPTION') | mrTranslate">
          <app-select-input
            [options]="themes"
            formControlName="themeFormControl"
            (change)="changeTheme($event)">
          </app-select-input>

          <!-- {{ text(theme.textCode) | mrTranslate }} -->
        </app-setting-option>
      </app-section>

      <app-section
        [title]="text('SECTIONS.LANGUAGE') | mrTranslate"
        icon="universal-access-circle">
        <app-setting-option
          [title]="text('FORM.CHANGE-LANGUAGE.TITLE') | mrTranslate"
          [description]="text('DESCRIPTION') | mrTranslate">
          <app-select-input
            [options]="languages"
            formControlName="langFormControl"
            (change)="changeLanguage($event)">
          </app-select-input>
        </app-setting-option>

        <app-setting-option
          [title]="text('FORM.TRANSLATIONS.TITLE') | mrTranslate"
          [description]="text('FORM.TRANSLATIONS.DESCRIPTION') | mrTranslate">
          <app-switch
            [text]="text('FORM.TRANSLATIONS.SHOW') | mrTranslate"
            [textDisabled]="text('FORM.TRANSLATIONS.HIDE') | mrTranslate"
            formControlName="translateFormControl"
            (change)="changeTranslations($event)">
          </app-switch>
        </app-setting-option>
      </app-section>

      <app-section
        [title]="text('SECTIONS.ACCOUNT') | mrTranslate"
        icon="person-gear">
        <app-setting-option
          [title]="text('FORM.AUTH.TITLE') | mrTranslate"
          [description]="text('FORM.AUTH.DESCRIPTION') | mrTranslate">
          <a [routerLink]="'/admin'" ariaCurrentWhenActive="page">
            {{ text('FORM.AUTH.GO-TO-ADMIN') | mrTranslate }}
          </a>
        </app-setting-option>
      </app-section>

      <app-section
        [title]="text('SECTIONS.PROVIDERS') | mrTranslate"
        icon="cloud">
        <div class="flex w-full flex-row flex-wrap justify-center gap-6">
          <div
            *ngFor="let provider of providers"
            class="provider-card opacity-40 transition-all hover:opacity-100"
            [ngClass]="provider.class"
            [title]="provider.title">
            <img [src]="provider.img" [alt]="provider.title" />
          </div>
        </div>
      </app-section>

      <div
        class="flex justify-between text-xs text-black-100 dark:text-white-950">
        <span>{{ text('FOOTER.DEVELOPEDBY') | mrTranslate }}</span>
        <span>{{ text('FOOTER.VERSION') | mrTranslate: { version } }}</span>
      </div>
    </div>
  </form>
</app-layout>
