.mr-img-thumbnail-score {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

.mr-img-thumbnail-score.miguel {
  border-radius: 4px;
}

.mr-img-thumbnail-score.popular {
  border-radius: 20px;
}