<form [formGroup]="filterForm" (submit)="submitFilter()" id="formFilter">
  <div class="row">
    <div class="mr-sort-filter-container inline-flex w-full flex-row-reverse">
      <div class="mr-sort-filter flex flex-col items-end">
        <span class="text-sm">{{ text('SORTBY.TITLE') | translate }}</span>
        <select
          id="sFilterSortBy"
          class="mr-custom-select filters form-select form-select-sm"
          formControlName="sortBy"
          (change)="filterControlChange()">
          <ng-container *ngFor="let option of listOptionsSortBy">
            <option
              *ngIf="option.visible"
              [value]="option.value"
              [ngClass]="option.class">
              {{ text(option.textCode) | translate }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      id="formFilterAlert"
      class="alert alert-danger"
      style="display: none"
      role="alert"></div>

    <span class="mr-suboption-filter text-sm">{{
      text('TITLE') | translate
    }}</span>
    <div
      class="mr-filter-container grid w-full grid-cols-8 items-center gap-1 sm:grid-cols-9 lg:grid-cols-8">
      <button
        class="btn btn-dark mr-custom-btn flex items-center justify-center"
        (click)="resetFilters()">
        <i id="iFavoriteIcon" class="bi bi-trash"></i>
      </button>

      <input
        id="tbTags"
        formControlName="textQuery"
        class="form-control mr-custom-text col-span-7 w-full sm:col-span-8 lg:col-span-7"
        type="text"
        [placeholder]="text('QUERY.PLACEHOLDER') | translate"
        (change)="filterControlChange()"
        (keydown)="capturarEnter($event)" />

      <select
        id="sFilterType"
        *ngIf="listDrawingStyles.length > 0"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        formControlName="type"
        (change)="filterControlChange()">
        <option value="-1" selected>
          {{ text('STYLE.TITLE') | translate }}
        </option>
        <option *ngFor="let style of listDrawingStyles" [value]="style.id">
          {{ style.translatedText }}
        </option>
        <!-- <option value="0">(Otro Estilo)</option> -->
      </select>

      <select
        id="sFilterProduct"
        *ngIf="listDrawingProductTypes.length > 0"
        formControlName="productType"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        (change)="filterControlChange()">
        <option value="-1" selected>
          {{ text('PRODUCT-TYPE.TITLE') | translate }}
        </option>

        <option *ngFor="let type of listDrawingProductTypes" [value]="type.id">
          {{ type.emoji }} {{ type.translatedText }}
        </option>
        <!-- <option value="0">(Otro Tipo)</option> -->
      </select>

      <select
        id="sFilterProductName"
        *ngIf="listDrawingProducts.length > 0"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        formControlName="productName"
        (change)="filterControlChange()">
        <option value="" selected>
          {{ text('PRODUCT.TITLE') | translate }}
        </option>

        <option
          *ngFor="let product of listDrawingProducts"
          [value]="product.productName">
          {{ getEmojiFromProductType(product.productTypeId) }}
          {{ product.productName }}
        </option>

        <!-- <option value="none">(Ninguna Temática)</option> -->
      </select>

      <select
        id="sFilterCollection"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        *ngIf="listCollections.length > 0"
        formControlName="collection"
        (change)="filterControlChange()">
        <option value="" selected>
          {{ text('COLLECTION.TITLE') | translate }}
        </option>

        <option [value]="col.id" *ngFor="let col of listCollections">
          {{ col.name }}
        </option>
      </select>

      <select
        id="sFilterCharacterName"
        *ngIf="listDrawingCharacters.length > 0"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        formControlName="characterName"
        (change)="filterControlChange()">
        <option value="" selected>
          {{ text('CHARACTER.TITLE') | translate }}
        </option>

        <ng-container *ngFor="let character of listDrawingCharacters">
          <option
            *ngIf="character.characterName !== ''"
            [value]="character.characterName">
            {{ getEmojiFromProductType(character.productTypeId) }}
            {{ character.characterName }}
          </option>
        </ng-container>

        <option value="none">{{ text('CHARACTER.NONE') | translate }}</option>
      </select>

      <select
        id="sFilterModel"
        *ngIf="listDrawingModels.length > 0"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        formControlName="modelName"
        (change)="filterControlChange()">
        <option value="" selected>{{ text('MODEL.TITLE') | translate }}</option>

        <option *ngFor="let model of listDrawingModels" [value]="model">
          {{ model }}
        </option>

        <option value="none">{{ text('MODEL.NONE') | translate }}</option>
      </select>

      <select
        id="sFilterSoftware"
        *ngIf="listDrawingSoftwares.length > 0"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        formControlName="software"
        (change)="filterControlChange()">
        <option value="0" selected>
          {{ text('SOFTWARE.TITLE') | translate }}
        </option>

        <option *ngFor="let sw of listDrawingSoftwares" [value]="sw.id">
          {{ sw.name }}
        </option>
      </select>

      <select
        id="sFilterPaper"
        *ngIf="listDrawingPapers.length > 0"
        class="mr-custom-select form-select form-select-sm mr-filter-item"
        formControlName="paper"
        (change)="filterControlChange()">
        <option value="0" selected>
          {{ text('PAPER.TITLE') | translate }}
        </option>

        <option *ngFor="let paper of listDrawingPapers" [value]="paper.id">
          {{ paper.name }}
        </option>
      </select>

      <select
        id="sFilterSpotify"
        class="mr-custom-select form-select form-select-sm mr-filter-item mr-spotify"
        formControlName="formSpotify"
        (change)="filterControlChange()">
        <option value="null" selected>
          {{ text('SPOTIFY.TITLE') | translate }}
        </option>
        <option value="true">
          {{ text('SPOTIFY.YES') | translate }}
        </option>
        <option value="false">
          {{ text('SPOTIFY.NO') | translate }}
        </option>
      </select>

      <div class="mr-choice-filter mr-filter-item">
        <label
          class="form-check-label choice-label"
          for="flexSwitchCheckChecked"
          style="font-weight: bold">
          {{ text('FAVORITES.TITLE') | translate }}</label
        >
        <input
          class="form-check-input"
          formControlName="formFavorites"
          type="checkbox"
          role="switch"
          value="true"
          id="flexSwitchCheckChecked"
          (change)="filterControlChange()" />
      </div>
    </div>
  </div>
</form>
