<form [formGroup]="filterForm" (submit)="submitFilter()" id="formFilter">
  <app-section [title]="text('SORTBY.TITLE') | mrTranslate">
    <app-select-input
      class="mr-filter-item"
      [options]="listOptionsSortBy"
      formControlName="sortBy"
      (change)="filterControlChange()">
    </app-select-input>
  </app-section>
  <app-section [title]="text('TITLE') | mrTranslate">
    <div class="mr-filter-container">
      <button
        class="btn mr-custom-btn mr-filter-item-trash"
        (click)="resetFilters()">
        <i id="iFavoriteIcon" class="bi bi-trash"></i>
      </button>

      <app-text-input
        class="form-control mr-filter-item-query"
        formControlName="textQuery"
        [placeholder]="text('QUERY.PLACEHOLDER') | mrTranslate"
        (change)="filterControlChange()"
        (keyDown)="capturarEnter($event)">
      </app-text-input>
    </div>
  </app-section>

  <app-section
    [title]="text('FILTER-TITLES.CHARACTER') | mrTranslate"
    [collapsable]="true"
    [isCollapsed]="false">
    <div class="mr-filter-container">
      <ng-container *ngIf="!errorCharacters; else showErrorCharacters">
        <app-loading
          [loading]="loadingDrawingCharacters"
          class="mr-filter-item">
          <div class="h-8 w-full" loading></div>

          <div class="filter-input-container" content>
            <app-select-input
              class="mr-filter-item"
              [firstOption]="{
                value: '',
                label: '',
                labelCode: 'SCREENS.DRAWING-SEARCH.FORM.CHARACTER.TITLE',
              }"
              [options]="filteredDrawingCharacters"
              formControlName="characterName"
              (change)="filterControlChange()">
            </app-select-input>

            <span class="filter-results-count" *ngIf="showFilterCount">{{
              nDrawingCharacters
            }}</span>
          </div>
        </app-loading>
      </ng-container>
      <ng-template #showErrorCharacters class="filter-input-container">
        <app-partial-error
          class="mr-filter-item"
          [description]="
            'SCREENS.DRAWING-SEARCH.FORM.CHARACTER.TITLE' | mrTranslate
          "
          type="select"></app-partial-error>
      </ng-template>

      <ng-container *ngIf="!errorModels; else showErrorModels">
        <app-loading [loading]="loadingDrawingModels" class="mr-filter-item">
          <div class="h-8 w-full" loading></div>

          <div class="filter-input-container" content>
            <app-select-input
              class="mr-filter-item"
              [firstOption]="{
                value: '',
                label: '',
                labelCode: 'SCREENS.DRAWING-SEARCH.FORM.MODEL.TITLE',
              }"
              [options]="filteredDrawingModels"
              formControlName="modelName"
              (change)="filterControlChange()"
              content>
            </app-select-input>

            <span class="filter-results-count" *ngIf="showFilterCount">{{
              nDrawingModels
            }}</span>
          </div>
        </app-loading>
      </ng-container>
      <ng-template #showErrorModels class="filter-input-container">
        <app-partial-error
          class="mr-filter-item"
          [description]="
            'SCREENS.DRAWING-SEARCH.FORM.MODEL.TITLE' | mrTranslate
          "
          type="select"></app-partial-error>
      </ng-template>

      <div class="favorite mr-filter-item" content>
        <div class="filter-input-container">
          <app-switch
            [id]="'iSwitchFavorite'"
            [text]="text('FAVORITES.TITLE') | mrTranslate"
            formControlName="formFavorites"
            (ngModelChange)="filterControlChange()">
          </app-switch>
          <span class="filter-results-count" *ngIf="showFilterCount">{{
            nDrawingFavorites
          }}</span>
        </div>
      </div>
    </div>
  </app-section>

  <app-section
    [title]="text('FILTER-TITLES.THEME') | mrTranslate"
    [collapsable]="true"
    [isCollapsed]="false">
    <div class="mr-filter-container">
      <div class="mr-filter-item">
        <div class="filter-input-container">
          <app-select-input
            class="mr-filter-item"
            [firstOption]="{
              value: '-1',
              label: '',
              labelCode: 'SCREENS.DRAWING-SEARCH.FORM.PRODUCT-TYPE.TITLE',
            }"
            [options]="filteredDrawingProductTypes"
            formControlName="productType"
            (change)="onChangeProductType($event); filterControlChange()">
          </app-select-input>

          <span class="filter-results-count" *ngIf="showFilterCount">{{
            nDrawingProductTypes
          }}</span>
        </div>
      </div>

      <ng-container *ngIf="!errorProducts; else showErrorProducts">
        <app-loading [loading]="loadingDrawingProducts" class="mr-filter-item">
          <div class="h-8 w-full" loading></div>

          <div class="filter-input-container" content>
            <app-select-input
              class="mr-filter-item"
              [firstOption]="{
                value: '',
                label: '',
                labelCode: 'SCREENS.DRAWING-SEARCH.FORM.PRODUCT.TITLE',
              }"
              [options]="filteredDrawingProducts"
              formControlName="productName"
              (change)="filterControlChange()"
              content>
            </app-select-input>

            <span class="filter-results-count" *ngIf="showFilterCount">{{
              nDrawingProducts
            }}</span>
          </div>
        </app-loading>
      </ng-container>
      <ng-template #showErrorProducts class="filter-input-container">
        <app-partial-error
          class="mr-filter-item"
          [description]="
            'SCREENS.DRAWING-SEARCH.FORM.PRODUCT.TITLE' | mrTranslate
          "
          type="select"></app-partial-error>
      </ng-template>

      <ng-container *ngIf="!errorCollections; else showErrorCollections">
        <app-loading [loading]="loadingCollections" class="mr-filter-item">
          <div class="h-8 w-full" loading></div>

          <div class="filter-input-container" content>
            <app-select-input
              class="mr-filter-item"
              [firstOption]="{
                value: '',
                label: '',
                labelCode: 'SCREENS.DRAWING-SEARCH.FORM.COLLECTION.TITLE',
              }"
              [options]="filteredCollections"
              formControlName="collection"
              (change)="filterControlChange()">
            </app-select-input>

            <span class="filter-results-count" *ngIf="showFilterCount">{{
              nDrawingCollections
            }}</span>
          </div>
        </app-loading>
      </ng-container>
      <ng-template #showErrorCollections class="filter-input-container">
        <app-partial-error
          class="mr-filter-item"
          [description]="
            'SCREENS.DRAWING-SEARCH.FORM.COLLECTION.TITLE' | mrTranslate
          "
          type="select"></app-partial-error>
      </ng-template>
    </div>
  </app-section>

  <app-section
    [title]="text('FILTER-TITLES.STYLE') | mrTranslate"
    [collapsable]="true"
    [isCollapsed]="false">
    <div class="mr-filter-container">
      <div class="mr-filter-item">
        <div class="filter-input-container" content>
          <app-select-input
            class="mr-filter-item"
            [firstOption]="{
              value: '-1',
              label: '',
              labelCode: 'SCREENS.DRAWING-SEARCH.FORM.STYLE.TITLE',
            }"
            [options]="filteredDrawingStyles"
            formControlName="type"
            (change)="onChangeStyle($event); filterControlChange()">
          </app-select-input>

          <span class="filter-results-count" *ngIf="showFilterCount">{{
            nDrawingTypes
          }}</span>
        </div>
      </div>

      <div class="mr-filter-item" [ngClass]="{ hidden: !showSoftware }">
        <div class="filter-input-container" content>
          <app-select-input
            class="mr-filter-item"
            [firstOption]="{
              value: '-1',
              label: '',
              labelCode: 'SCREENS.DRAWING-SEARCH.FORM.SOFTWARE.TITLE',
            }"
            [options]="filteredDrawingSoftwares"
            formControlName="software"
            (change)="filterControlChange()">
          </app-select-input>

          <span class="filter-results-count" *ngIf="showFilterCount">{{
            nDrawingSoftwares
          }}</span>
        </div>
      </div>

      <div class="mr-filter-item" [ngClass]="{ hidden: !showPaper }">
        <div class="filter-input-container" content>
          <app-select-input
            class="mr-filter-item"
            [firstOption]="{
              value: '-1',
              label: '',
              labelCode: 'SCREENS.DRAWING-SEARCH.FORM.PAPER.TITLE',
            }"
            [options]="filteredDrawingPapers"
            formControlName="paper"
            (change)="filterControlChange()">
          </app-select-input>

          <span class="filter-results-count" *ngIf="showFilterCount">{{
            nDrawingPapers
          }}</span>
        </div>
      </div>
    </div>
  </app-section>

  <!--
    <app-select-input
    class="mr-filter-item"
    [firstOption]="{
      value: 'null',
      label: '',
      labelCode: 'SCREENS.DRAWING-SEARCH.FORM.SPOTIFY.TITLE',
    }"
    [options]="[
      {
        value: 'true',
        label: '',
        labelCode: 'SCREENS.DRAWING-SEARCH.FORM.SPOTIFY.YES',
      },
      {
        value: 'false',
        label: '',
        labelCode: 'SCREENS.DRAWING-SEARCH.FORM.SPOTIFY.NO',
      },
    ]"
    formControlName="formSpotify"
    (change)="filterControlChange()">
  </app-select-input> -->
</form>
