.slider,
.item {
  @apply w-full;
}

.slider {
  @apply w-full overflow-hidden relative py-5 mb-10 h-[40vh] sm:h-[50vh] md:h-[60vh] lg:h-[80vh];
  // max-height: 60vh;
}

.item {
  @apply rounded-md dark:bg-black-700 duration-500 overflow-hidden h-[40vh] sm:h-[50vh] md:h-[60vh] lg:h-[80vh] lg:max-h-[80vh] lg:min-h-[80vh];
  position: absolute;
  width: 50vw;
  text-align: justify;
  left: calc(50% - 25vw);
  top: 0;
}

.item img {
  @apply aspect-square object-cover;
}

.item.selected {
  opacity: 1 !important;
}

#next,
#prev {
  @apply absolute h-full bg-transparent;
  top: 0px;
  width: 25vw;
  bottom: 0px;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
}

#prev {
  left: 0px;
}

#next {
  right: 0px;
}