<div class="flex flex-col flex-nowrap gap-0">
  <div
    id="divImgFull"
    class="mr-img-full-container heart-rain relative min-h-24 w-full"
    [ngClass]="{ favorite: drawing.favorite }"
    (dblclick)="cheerDrawing($event)">
    <img
      id="imgFull"
      [src]="drawing.url"
      class="mr-img-full pointer-events-none w-full select-none"
      (error)="errorLoadingImage(drawing.id)"
      loading="lazy"
      decoding="async"
      alt="drawing" />

    <div
      class="mr-error-load-placeholder absolute bottom-0 left-0 right-0 top-0 h-full w-full"
      [attr.data-error-drawing-id]="drawing.id">
      <span class="text-2xl">🙃</span>
      <span class="text-center text-sm">Image Not Found</span>
    </div>

    <i
      *ngIf="drawing.favorite"
      id="iFavoriteIcon"
      class="bi bi-star-fill absolute right-1 top-1 block"
      title="One of my favorites drawings."></i>
    <!-- TODO: volver a poner el icono y arreglar el pantalla completa -->
    <!-- <div
      id="divIconFullScreen"
      class="absolute left-0 top-0 flex aspect-square h-6 w-6 cursor-pointer flex-nowrap justify-center rounded-br-md bg-black p-1 align-middle text-sm text-white"
      tabindex="0"
      (click)="fullScreenImage()"
      (keydown)="fullScreenImageOnKeyDown($event)">
      <i id="iFS" class="bi bi-fullscreen" title="Ver en pantalla completa"></i>
      <i
        id="iFSe"
        class="bi bi-fullscreen-exit"
        title="Cerrar la pantalla completa"></i>
    </div> -->
  </div>
  <div class="my-2 flex flex-row flex-nowrap justify-between text-2xl">
    <div
      class="flex select-none flex-row flex-nowrap gap-4"
      [title]="drawing.likes + ' kudos'">
      <form id="cheerForm">
        <div
          class="mr-like-container flex flex-row flex-nowrap items-end gap-1">
          <input type="hidden" name="id" [value]="drawing.id" />

          <button
            class="btn-image"
            [id]="btnCheerId"
            type="button"
            (click)="cheerDrawing($event)">
            <i id="iCheerIcon" class="bi bi-heart"></i>
          </button>
          <div id="spLikesCounter" class="text-sm">
            {{ drawing.likesHuman }}
          </div>
        </div>
      </form>
      <button
        class="btn-image"
        (click)="shareDrawing()"
        (keypress.enter)="shareDrawing()"
        tabindex="0"
        title="Compartir dibujo">
        <i class="bi bi-send"></i>
      </button>
    </div>
    <div class="flex select-none flex-row flex-nowrap gap-4 text-xl font-bold">
      <app-drawing-score
        class="h-8 w-8"
        [score]="drawing.scorePopular"
        [popular]="true"></app-drawing-score>
      <app-drawing-score
        class="h-8 w-8"
        [score]="drawing.scoreCritic"></app-drawing-score>
    </div>
  </div>
</div>
