.mr-img-full-container {
  transition: var(--mr-transition-time) ease-in-out;
}

// .mr-img-full-container.fullscreen {
//   @apply fixed top-0 left-0 right-0 bottom-0 items-center h-full w-full flex justify-center;
//   z-index: 10000;
//   background-color: var(--mr-background-color-fullscreen-image);
//   backdrop-filter: blur(5px);
//   border: none;
// }


.mr-img-full-container.fullscreen {
  @apply fixed top-0 left-0 right-0 bottom-0 items-center h-screen w-auto flex justify-center;
  z-index: 10000;
  background-color: var(--mr-background-color-fullscreen-image);
  backdrop-filter: blur(5px);
  border: none;
}


/* Favorite Icon */
#iFavoriteIcon {
  color: var(--mr-favorite-icon-color);
  text-shadow: 0px 0px 10px var(--mr-favorite-icon-color);
}

#divIconFullScreen {
  transition: var(--mr-transition-time) ease-in-out;
}

#divIconFullScreen #iFS {
  display: block;
}

#divIconFullScreen #iFSe {
  display: none;
}

#divImgFull.fullscreen #iFS {
  display: none;
}

#divImgFull.fullscreen #iFSe {
  display: block;
}

img.mr-img-full {
  transition: var(--mr-transition-time) ease-in-out;
}

/* Watermark */
/*.mr-img-full-container::after {
    content: "MiguelRomeral";
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 5px #ffffff85;
}*/
