<div class="mr-first-column-image">
  <div
    id="divImgFull"
    class="mr-img-full-container heart-rain"
    [ngClass]="{ favorite: drawing.favorite }"
    (dblclick)="cheerDrawing($event)">
    <img
      id="imgFull"
      [src]="drawing.url"
      class="mr-img-full"
      (error)="errorLoadingImage(drawing.id)"
      loading="lazy"
      decoding="async"
      alt="drawing" />

    <div
      class="mr-error-load-placeholder"
      [attr.data-error-drawing-id]="drawing.id">
      <span class="emoji">🙃</span>
      <span class="subtitle">Image Not Found</span>
    </div>

    <i
      id="iFavoriteIcon"
      class="bi bi-star-fill"
      title="One of my favorites drawings."></i>
    <div id="divIconFullScreen" (click)="fullScreenImage()">
      <i id="iFS" class="bi bi-fullscreen" title="Ver en pantalla completa"></i>
      <i
        id="iFSe"
        class="bi bi-fullscreen-exit"
        title="Cerrar la pantalla completa"></i>
    </div>
  </div>

  <div class="mr-stats-container">
    <form
      id="cheerForm"
      asp-action="Cheer"
      asp-controller="Art"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="onBeginCheer"
      data-ajax-failure="OnFailureCheer"
      data-ajax-success="onSuccessCheer"
      data-ajax-complete="onCompleteCheer">
      <div class="mr-like-container">
        <input type="hidden" name="id" [value]="drawing.id" />

        <button
          id="btnCheer"
          type="button"
          class="btn btn-danger mr-like-button like-semaphore vibrate"
          (click)="cheerDrawing($event)">
          <i id="iCheerIcon" class="bi bi-heart"></i> ¡ KUDOS !
        </button>
      </div>
    </form>

    <div class="mr-stats-item views" title="Views">
      <i class="bi bi-eye"></i>
      <!-- TODO: traer la función FormatoLegible a este proyecto -->
      <span>{{ drawing.views + 1 }}</span>
    </div>
    <div class="mr-stats-item likes kudos" title="Kudos">
      <i class="bi bi-heart"></i>
      <div id="divContainerLikes">
        <div id="spLikesCounter">{{ drawing.likesHuman }}</div>
      </div>
    </div>
  </div>

  <app-art-details-score-board [drawing]="drawing">
  </app-art-details-score-board>
</div>
