<div class="flex w-full select-none overflow-x-auto">
  <ng-container *ngFor="let tab of tabs; let i = index">
    <button
      (click)="slideTo(i)"
      [class.active]="currentTabIndex === i"
      class="btn-image tab-button flex h-10 flex-nowrap items-center gap-2 focus:outline-none">
      <i
        class="bi"
        [ngClass]="tab.iconSelected"
        *ngIf="currentTabIndex === i; else iconNotSelected"></i>
      <ng-template #iconNotSelected>
        <i class="bi" [ngClass]="tab.icon"></i>
      </ng-template>
      <span *ngIf="currentTabIndex === i">
        {{ text(tab.textCode) | mrTranslate }}
      </span>
    </button>
  </ng-container>
</div>

<div class="swiper-container" #swiperContainer>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngIf="showComments">
      <ng-content
        class="swiper-content"
        select="[tab-content-comments]"></ng-content>
    </div>
    <div class="swiper-slide" *ngIf="showCommentsStyle">
      <ng-content
        class="swiper-content"
        select="[tab-content-style]"></ng-content>
    </div>
    <div class="swiper-slide" *ngIf="showCommentsPro">
      <ng-content
        class="swiper-content"
        select="[tab-content-likes]"></ng-content>
    </div>
    <div class="swiper-slide" *ngIf="showCommentsCons">
      <ng-content
        class="swiper-content"
        select="[tab-content-dislikes]"></ng-content>
    </div>
    <div class="swiper-slide" *ngIf="showScorePopular">
      <ng-content
        class="swiper-content"
        select="[tab-content-vote]"></ng-content>
    </div>
    <div class="swiper-slide" *ngIf="showSpotify">
      <ng-content
        class="swiper-content"
        select="[tab-content-spotify]"></ng-content>
    </div>
    <div class="swiper-slide" *ngIf="showDetails">
      <ng-content
        class="swiper-content"
        select="[tab-content-details]"></ng-content>
    </div>
  </div>
</div>
