/* Every row of the chat */



/* Text of the message */
.mr-chat-message {
  transition: var(--mr-transition-time) ease-in-out;
}

/* Profile Picture */
img.mr-chat-image-miguel {
  width: var(--mr-profile-pic-size-bottom-bar);
  height: var(--mr-profile-pic-size-bottom-bar);
  border-radius: var(--mr-profile-pic-size-bottom-bar);
  border: var(--mr-border-size) solid var(--mr-chat-color);
  padding: var(--mr-padding-picture);
  user-select: none;
  pointer-events: none;
}