<div
  class="grid grid-cols-10"
  [ngClass]="{
    'text-main-50': type === '',
    'text-green-400': type === 'like',
    'text-red-400': type === 'dislike',
  }">
  <div class="flex w-full items-start justify-start">
    <div *ngIf="first">
      <img
        alt="Miguel"
        *ngIf="type === ''"
        src="assets/images/miguel.jpeg"
        class="mr-chat-image-miguel" />

      <div
        *ngIf="type === 'like'"
        class="mr-chat-icon"
        title="Puntos buenos y cosas que me gustan">
        <i class="bi bi-hand-thumbs-up"></i>
      </div>

      <div
        *ngIf="type === 'dislike'"
        class="mr-chat-icon"
        title="Puntos negativos y cosas a mejorar">
        <i class="bi bi-hand-thumbs-down"></i>
      </div>
    </div>
  </div>
  <div class="mr-chat-message-container col-span-9 flex flex-col gap-2">
    <div class="mr-chat-message" [innerHTML]="comment"></div>
  </div>
  <div class="mr-chat-image hvr-wobble-horizontal"></div>
</div>
