<a
  class="mr-bottom-bar-button flex h-full flex-col flex-nowrap items-center justify-center gap-0 text-center sm:flex-row sm:gap-1 lg:h-12 lg:justify-start lg:rounded-md lg:px-2"
  [ngClass]="optionClass"
  [routerLink]="routerLink"
  routerLinkActive="active"
  ariaCurrentWhenActive="page">
  <div
    class="mr-bottom-bar-icon relative pt-1 text-xl sm:text-lg"
    *ngIf="icon !== '' && iconActive !== ''">
    <i class="bi" [ngClass]="active ? iconActive : icon"></i>
  </div>

  <div
    class="mr-bottom-profile-pic relative rounded-full text-center"
    *ngIf="image !== ''">
    <img
      [src]="image"
      class="mr-chat-image-miguel brand"
      alt="Me"
      [ngStyle]="{
        'border-color': active ? 'var(--mr-chat-color)' : 'transparent',
        border: active ? '2px solid var(--mr-chat-color)' : 'none',
      }" />
  </div>

  <div
    *ngIf="text !== ''"
    class="mr-bottom-bar-text relative bottom-1 hidden text-sm sm:bottom-0 sm:block sm:text-lg">
    {{ text }}
  </div>
</a>
