a.mr-bottom-bar-button {
  text-decoration: none;
  color: var(--mr-nav-text-color) !important;
}

.mr-bottom-profile-pic {
  background-color: transparent;
  width: var(--mr-bottom-bar-icon-width);
  height: var(--mr-bottom-bar-icon-width);
}

.mr-bottom-bar-button:hover {
  background-color: var(--mr-nav-bg-color-hover);
}


@media screen and (min-width: 600px) {
  .mr-bottom-bar-button {
    min-width: -webkit-fill-available;
  }

  .mr-bottom-bar-icon {
    width: var(--mr-bottom-bar-icon-width);
  }
}