/* Container of every thumbnails */
#artGallery.mr-img-gallery {
  transition: var(--mr-transition-time) ease-in-out;
  opacity: 1;
}

#artGallery.mr-img-gallery.loading {
  opacity: 0.1;
}

#spResultsCount {
  transition: var(--mr-transition-time) ease-in-out;
}


.mr-loader-container {
  @apply relative;
  transition: var(--mr-transition-time) ease-in-out;
}



.mr-loader {
  @apply absolute flex flex-col items-center justify-start content-center;
  z-index: -1;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  backdrop-filter: blur(5px);
  text-shadow: 1px 1px 1px black;
  transition: var(--mr-transition-time) ease-in-out;
  z-index: 1000;
  opacity: 1;
}

img.mr-loading-icon-pacman {
  width: var(--mr-pacman-size);
  height: auto;
}

span.mr-loader-subtitle {
  @apply italic font-bold;
}


.image-count-animation {
  animation: image-count-animation 1.5s ease-in-out;
}

@keyframes image-count-animation {
  0% {
    transform: scale(1);
  }

  50% {
    @apply text-main-600 dark:text-main-400;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.btn-fetch-more {
  @apply flex aspect-square h-full max-h-96 w-full flex-col flex-nowrap items-center justify-center border-dashed border-white-200 bg-white-200 transition-all duration-200 hover:bg-white-50 dark:border-black-100 dark:bg-black-700 dark:hover:bg-black-800;
  animation: btn-fetch-more-animation 3s infinite;
}

@keyframes btn-fetch-more-animation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
}