#spResultsCount {
  transition: var(--mr-transition-time) ease-in-out;
}

#divNoResults {
  display: flex;
  min-height: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;
}

/* #sFilterSoftware, #sFilterPaper {
  display: none;
} */
