<app-layout
  ><div class="relative flex min-h-screen flex-col">
    <div class="mb-10 lg:col-span-2">
      <h1>{{ text('TITLE') | mrTranslate }}</h1>
      <p>{{ text('SUBTITLE') | mrTranslate }}</p>
    </div>

    <div id="filterContainer">
      <div class="flex flex-nowrap items-start justify-between py-2">
        <div class="flex flex-wrap items-end gap-4">
          <button
            class="btn flex flex-row items-center gap-2"
            (click)="showHideFilters()"
            tabindex="0"
            (keydown.f)="showHideFilters()">
            <i class="bi bi-funnel"></i
            ><span class="hidden sm:block">{{
              text('FORM.TITLE') | mrTranslate
            }}</span>
          </button>
          <div id="divImageCounter" *ngIf="lastFilterResults" #divImageCounter>
            {{
              text(
                listDrawings.length === lastFilterResults.totalCount
                  ? 'COUNT.FETCHED'
                  : 'COUNT.FETCHED-MANY'
              )
                | mrTranslate
                  : {
                      length: listDrawings.length,
                      total: lastFilterResults.totalCount,
                    }
            }}
          </div>
          <div *ngIf="lastFilterResults" class="hidden">
            ({{ nTotalMinutesHuman }})
          </div>
        </div>

        <button
          *ngIf="admin"
          class="btn flex flex-row items-center gap-2"
          (click)="createNewDrawing()">
          <i class="bi bi-plus"></i>
          <span class="hidden sm:block">{{
            text('FORM.CREATE-NEW.TITLE') | mrTranslate
          }}</span>
        </button>
      </div>

      <app-art-search-filter-form
        class="block max-h-[80vh] overflow-y-auto"
        [@filterFormAnimation]="showFilters ? 'open' : 'closed'"
        (existsMoreResultsToFetch)="existsMoreResultsToFetch($event)"
        (fetchedResults)="onFetchedResults($event)"
        (isLoading)="onIsFilterFormLoading($event)">
      </app-art-search-filter-form>
    </div>

    <div>
      <div class="row mt-2" style="padding-bottom: 20px">
        <div class="mr-loader-container">
          <!-- <div
            id="artGalleryLoader"
            class="mr-loader"
            *ngIf="filterFormLoading">
            <img
              alt="Loading"
              src=" assets/pacman-loading.svg"
              class="mr-loading-icon-pacman" />
            <span class="mr-loader-subtitle">{{
              text('LOADING.TITLE') | mrTranslate
            }}</span>
          </div> -->
          <div
            id="artGallery"
            [@listAnimation]
            class="mr-img-gallery grid h-full w-full grid-cols-3 items-start gap-[2px] sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
            <app-drawing-thumbnail
              class="h-full w-full"
              [fullsize]="first"
              [ngClass]="{ 'col-span-2 row-span-2': first }"
              [drawing]="drawing"
              *ngFor="let drawing of listDrawings; let first = first">
            </app-drawing-thumbnail>

            <ng-container *ngIf="filterFormLoading">
              <app-loading
                [loading]="filterFormLoading"
                class="aspect-square h-full w-full"
                [ngClass]="{
                  'col-span-2 row-span-2': first && resultsLength === 0,
                }"
                *ngFor="let i of placeholderDrawings; let first = first">
                <div class="h-full w-full" loading>
                  <i class="h-full w-full"></i>
                </div>
              </app-loading>
            </ng-container>

            <button
              *ngIf="
                !filterFormLoading && showButtonFetchMore && !resultsNotFound
              "
              type="button"
              class="btn-fetch-more"
              (click)="requestMoreDrawings()">
              <i class="bi bi-plus text-2xl"></i>
              <span>{{ text('LOADING.LOADMORE') | mrTranslate }}</span>
            </button>
          </div>
          <div
            id="divNoResults"
            *ngIf="!filterFormLoading && resultsNotFound"
            class="mt-20 flex min-h-32 flex-col items-center justify-start gap-3">
            <span>{{ text('NOTFOUND.TITLE') | mrTranslate }}</span>
            <h2>😔</h2>
            <span>{{ text('NOTFOUND.RETRY') | mrTranslate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
