<app-layout>
  <div>
    <h1>{{ text('TITLE') | mrTranslate }}</h1>

    <form
      [formGroup]="loginForm"
      (submit)="login()"
      class="flex flex-col gap-2">
      <label for="iUsername">{{
        text('FORM.USERNAME.TITLE') | mrTranslate
      }}</label>
      <input
        id="iUsername"
        formControlName="username"
        class="mr-custom-text"
        type="text" />
      <div
        class="form-error"
        *ngIf="
          loginForm.controls.username.touched &&
          loginForm.controls.username.hasError('required')
        ">
        {{ text('ERRORS.USERNAME-REQUIRED') | mrTranslate }}
      </div>

      <label for="iPassword">{{
        text('FORM.PASSWORD.TITLE') | mrTranslate
      }}</label>
      <input
        id="iPassword"
        formControlName="password"
        class="mr-custom-text"
        type="password" />
      <div
        class="form-error"
        *ngIf="
          loginForm.controls.password.touched &&
          loginForm.controls.password.hasError('required')
        ">
        {{ text('ERRORS.PASSWORD-REQUIRED') | mrTranslate }}
      </div>

      <button class="btn" type="submit">
        {{ text('FORM.LOGIN') | mrTranslate }}
      </button>
    </form>
  </div>
</app-layout>
