<app-layout>
  <!-- TODO: currarse la página de LOGIN -->
  <h1>LOGIN</h1>

  <form [formGroup]="loginForm" (submit)="login()" class="flex flex-col gap-2">
    <label for="iUsername">USERNAME</label>
    <input
      id="iUsername"
      formControlName="username"
      class="mr-custom-text"
      type="text" />
    <div
      *ngIf="
        loginForm.controls.username.touched &&
        loginForm.controls.username.hasError('required')
      ">
      USERNAME IS REQUIRED
    </div>

    <label for="iPassword">PASSWORD</label>
    <input
      id="iPassword"
      formControlName="password"
      class="mr-custom-text"
      type="password" />
    <div
      *ngIf="
        loginForm.controls.password.touched &&
        loginForm.controls.password.hasError('required')
      ">
      USERNAME IS REQUIRED
    </div>

    <button class="btn" type="submit">LOGIN</button>
  </form>
</app-layout>
