<div
  class="slider"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd($event)">
  <div
    *ngFor="let drawing of drawings; let i = index"
    class="item"
    [ngStyle]="getDrawingStyle(i)"
    [ngClass]="{ selected: i === activeIndex }">
    <app-drawing-thumbnail [drawing]="drawing" [fullsize]="false">
    </app-drawing-thumbnail>
  </div>
  <button id="prev" (click)="prevSlide()">&#60;</button>
  <button id="next" (click)="nextSlide()">&#62;</button>
</div>
