<div class="form-group" *ngIf="formArray">
  <div
    class="flex flex-col gap-1"
    *ngFor="let comment of formArray.controls; let i = index">
    <!-- TODO: cambiar el input text por un rich text (como por ejemplo ngx-quill)-->
    <app-rich-text-input
      class="col-span-4 flex-1"
      [formControl]="comment"
      [placeholder]="placeholder">
      <button
        type="button"
        class="btn flex items-center justify-center"
        (click)="removeComment(i)">
        <i class="bi bi-trash"></i>
      </button>
    </app-rich-text-input>
  </div>

  <button class="btn" type="button" (click)="addComment('')">
    {{ text('ADD-COMMENT') | mrTranslate }}
  </button>
</div>
