<app-layout [padding]="false">
  <div
    class="grid grid-cols-2 gap-4 bg-main-200 px-4 dark:bg-main-800 sm:grid-cols-3">
    <div class="flex flex-col items-center justify-center">
      <img
        class="bottom-0 h-fit pt-2"
        src="assets/images/me/karting.png"
        alt="me" />
    </div>
    <div class="flex flex-col py-10 sm:col-span-2">
      <h1 style="text-transform: unset">{{ text('TITLE') | mrTranslate }}</h1>
      <h3>{{ text('SUBTITLE') | mrTranslate }}</h3>
      <div class="mt-10 flex w-full justify-end gap-2">
        <button class="btn" (click)="goToAbout()">
          {{ text('ABOUT.GO-TO-ABOUT') | mrTranslate }}
        </button>
      </div>
    </div>
  </div>
  <div class="section flex flex-col">
    <ng-container *ngIf="errorCollection === false; else showErrorCollection">
      <div>
        <h2>
          {{ text('DRAWINGS.NEW-UPLOADS') | mrTranslate }}
        </h2>
        <div class="my-5">
          <app-loading [loading]="loadingCollection">
            <div class="h-4 w-20" loading></div>

            <h3 content *ngIf="collection">
              {{ collection.name }}
            </h3>
          </app-loading>

          <app-loading [loading]="loadingCollection">
            <div class="h-4 w-full" loading></div>

            <h6 content *ngIf="collection">
              {{ collection.description }}
            </h6>
          </app-loading>
        </div>
        <div class="flex flex-row flex-nowrap gap-6 overflow-x-auto pb-4">
          <ng-container *ngIf="!loadingCollection; else skDrawings">
            <app-collection-drawing-slider
              class="w-full"
              *ngIf="collection"
              [drawings]="collection.drawings">
            </app-collection-drawing-slider>
          </ng-container>
          <ng-template #skDrawings>
            <app-loading
              [loading]="loadingCollection"
              *ngFor="let number of [0, 1, 2]">
              <div class="h-48 w-48" loading></div>
              <div content></div>
            </app-loading>
          </ng-template>
        </div>
      </div>
    </ng-container>
    <ng-template #showErrorCollection>
      <app-partial-error
        [title]="'ERRORS.COLLECTION.HOME-NOTLOADED' | mrTranslate"
        [canRefresh]="true"
        (refreshContent)="loadHighlightedCollection()"></app-partial-error>
    </ng-template>

    <div class="flex w-full justify-end">
      <button class="btn" (click)="goToGallery()">
        {{ text('DRAWINGS.GO-TO-GALLERY') | mrTranslate }}
      </button>
    </div>
  </div>
  <div class="section bg-black-800 text-white-300">
    <h2>{{ text('LINKS.TITLE') | mrTranslate }}</h2>
    <div class="flex gap-2">
      <a *ngFor="let link of socialLinks" [href]="link.link" target="_blank">
        <i class="bi" [ngClass]="link.icon"></i><span>{{ link.text }}</span>
      </a>
    </div>
  </div>
</app-layout>
