/* Thumbnail */
.mr-img-thumbnail-container img {
  transition: opacity var(--mr-transition-time) ease-in-out;
}

/* Date thumbnail */
.mr-img-thumbnail-date {
  @apply absolute left-0 top-0 rounded-br-lg px-2 py-0 text-xs;
  background-color: var(--mr-thumbnail-date-background-color);
  color: var(--mr-thumbnail-date-text-color);
  z-index: 1;
  transition: var(--mr-transition-time) ease-in-out;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-date {
  animation: slide-bottom var(--mr-transition-time) ease-in-out;
}

/* Title of the thumbnail when hovering */
.mr-img-thumbnail-title {
  @apply h-full w-full absolute top-0 left-0 flex items-center justify-center flex-col text-center;
  background: var(--mr-thumbnail-bg-hover);
  transition: var(--mr-transition-time) ease-in-out;
  color: var(--mr-thumbnail-text-color);
  font-size: var(--mr-font-size-large);
  backdrop-filter: blur(2px);
}

.favorite .mr-img-thumbnail-title {
  background: var(--mr-thumbnail-bg-hover-favorite);
  color: var(--mr-thumbnail-text-color-favorite) !important;
}

.mr-img-thumbnail-subtitle {
  color: var(--mr-chat-color);
}

/* Image on hover */
.contenido:has(.mr-img-thumbnail-container:hover) img {
  opacity: 0.7;
}

.mr-img-thumbnail-container .mr-img-thumbnail-info {
  opacity: 0;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-info {
  opacity: 1;
}

.mr-img-thumbnail.favorite .contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-title {
  color: var(--mr-thumbnail-text-color);
  text-shadow: 0 0 4px black;
}

// .carousel-item .cuadrado {
//   position: relative;
//   /* margin: 1%; */
//   /* width: 90% !important; */
//   /* padding-bottom: 85% !important; */
//   padding: 0%;
//   width: 100%;
//   /* height: 100%;    */
// }

// /* Each thumbnail. Size: 3xN */
// @media screen and (max-width: 600px) {
//   .carousel-item .cuadrado {
//     position: relative;
//     margin: 1%;
//     /* width: 90% !important; */
//     /* padding-bottom: 85% !important; */
//     padding: 33%;
//   }
// }

.mr-img-thumbnail-stats {
  color: var(--mr-thumbnail-text-color);
  transition: var(--mr-transition-time) ease-in-out;
}

.favorite .mr-img-thumbnail-stats {
  color: var(--mr-thumbnail-text-color-favorite) !important;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-stats {
  z-index: 2;
}

.mr-img-thumbnail-score-container {
  z-index: 1;
  transition: var(--mr-transition-time) ease-in-out;
}



.mr-img-thumbnail-details-container {
  bottom: 29px;
  transition: var(--mr-transition-time);
}

a:hover .mr-img-thumbnail-details-container {
  text-decoration: none !important;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-details-container {
  z-index: 3;
  animation: slide-up var(--mr-transition-time) ease-in-out;
}


.mr-thumbnail-spotify-icon {
  /* TODO: este color no funciona */
  transition: var(--mr-transition-time);
  color: var(--mr-thumbnail-spotify-color) !important;
  z-index: 3;
  opacity: 0;
}



.contenido:has(.mr-img-thumbnail-container:hover) .mr-thumbnail-spotify-icon {
  animation: slide-left var(--mr-transition-time) ease-in-out;
  opacity: 1;
}

.contenido:has(.mr-thumbnail-spotify-icon a:hover) .mr-thumbnail-spotify-icon {
  opacity: 1;
}


/* Placeholder when the image couldn't be loaded */
.mr-error-load-placeholder {
  @apply absolute bottom-0 left-0 right-0 top-0 flex h-full w-full flex-col flex-wrap items-center justify-center align-middle;
  background: var(--mr-thumbnail-bg-hover);
  transition: var(--mr-transition-time) ease-out;
}