<nav
  class="mr-bottom-bar fixed bottom-0 flex h-12 w-full flex-row flex-nowrap items-center justify-around p-0 lg:top-0 lg:h-fit lg:max-h-screen lg:w-52 lg:flex-col lg:items-start lg:gap-1 lg:p-2">
  <app-navbar-link
    class="h-full w-full"
    *ngFor="let link of listLinks"
    [currentUrl]="currentRoute"
    [routerLink]="link.link"
    [icon]="link.icon"
    [optionClass]="link.customClass ?? ''"
    [iconActive]="link.iconActive"
    [text]="text(link.textCode) | mrTranslate"
    [image]="link.image ?? ''">
  </app-navbar-link>
</nav>
