@import url('../../../../styles/variables.scss');


/* Thumbnail */
.mr-img-thumbnail-container img {
  transition: opacity var(--mr-transition-time) ease-in-out;
}

/* Date thumbnail */
.mr-img-thumbnail-date {
  background-color: var(--mr-thumbnail-date-background-color);
  font-size: x-small;
  z-index: 1;
  color: var(--mr-text-color-opposite);
  transition: var(--mr-transition-time) ease-in-out;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-date {
  animation: slide-bottom var(--mr-transition-time) ease-in-out;
}

/* Title of the thumbnail when hovering */
.mr-img-thumbnail-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, transparent 0%, rgba(0, 0, 0, 0.6) 50%, black 100%);
  transition: var(--mr-transition-time) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mr-text-color-dark);
  font-size: var(--mr-font-size-large);
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(2px);
}

.favorite .mr-img-thumbnail-title {
  background: linear-gradient(160deg, transparent 0%, var(--mr-color-gold) 100%);
  color: var(--mr-thumbnail-text-color);
}

.mr-img-thumbnail-subtitle {
  font-size: var(--mr-font-size-small);
  font-style: italic;
  text-align: center;
  color: var(--mr-chat-color);
}

/* Image on hover */
.contenido:has(.mr-img-thumbnail-container:hover) img {
  opacity: 0.7;
}


.mr-img-thumbnail-container .mr-img-thumbnail-info {
  opacity: 0;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-info {
  opacity: 1;
}

.mr-img-thumbnail.favorite .contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-title {
  color: var(--mr-thumbnail-text-color);
  text-shadow: 0 0 4px black;
}

.carousel-item .cuadrado {
  position: relative;
  /* margin: 1%; */
  /* width: 90% !important; */
  /* padding-bottom: 85% !important; */
  padding: 0%;
  width: 100%;
  /* height: 100%;    */
}

/* Each thumbnail. Size: 3xN */
@media screen and (max-width: 600px) {
  .carousel-item .cuadrado {
    position: relative;
    margin: 1%;
    /* width: 90% !important; */
    /* padding-bottom: 85% !important; */
    padding: 33%;
  }
}


.favorite .mr-img-thumbnail-title {
  color: var(--mr-thumbnail-text-color);
}


.mr-img-thumbnail-stats {
  color: var(--mr-thumbnail-text-color);
  transition: var(--mr-transition-time) ease-in-out;
  font-size: var(--mr-font-size-small);
}


.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-stats {
  z-index: 2;
}

.favorite .contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-stats {
  /*text-shadow: 0 0 4px white;*/
}

.mr-img-thumbnail-stats-item {
  color: var(--mr-thumbnail-text-color);
}

.mr-img-thumbnail-stats-item.likes {
  color: var(--mr-thumbnail-text-likes-color);
}


.mr-img-thumbnail-score-container {
  font-size: var(--mr-font-size-small);
  font-weight: var(--mr-font-weight-bold);
  transition: var(--mr-transition-time) ease-in-out;
  z-index: 1;
}



.mr-img-thumbnail-details-container {
  background: var(--mr-thumbnails-details-background);
  bottom: 29px;
  transition: var(--mr-transition-time);
}

a:hover .mr-img-thumbnail-details-container {
  text-decoration: none !important;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-details-container {
  z-index: 3;
  animation: slide-up var(--mr-transition-time) ease-in-out;
}

.mr-thumbnail-spotify-icon {
  transition: var(--mr-transition-time);
  z-index: 4;
  color: var(--mr-color-spotify);
  z-index: 3;
  opacity: 0;
}


.contenido:has(.mr-img-thumbnail-container:hover) .mr-thumbnail-spotify-icon {
  animation: slide-left var(--mr-transition-time) ease-in-out;
  opacity: 1;
}

.contenido:has(.mr-thumbnail-spotify-icon a:hover) .mr-thumbnail-spotify-icon {
  opacity: 1;
}


/* Placeholder when the image couldn't be loaded */
.mr-error-load-placeholder {
  transition: var(--mr-transition-time) ease-out;
  background-color: black;
  color: pink;
}

/* Emoji of the error placeholder */
.mr-error-load-placeholder .emoji {
  font-size: x-large;
}

/* Text of the error placeholder */
.mr-error-load-placeholder .subtitle {
  font-size: var(--mr-font-size-small);
}