@import url('../../../../styles/variables.scss');


/* Container of every thumbnails */
#artGallery.mr-img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
  transition: var(--mr-transition-time) ease-in-out;
  opacity: 1;
}

#artGallery.mr-img-gallery.loading {
  opacity: 0.1;
}

/* Container of one thumbnail */
.mr-img-thumbnail-container {
  /*display: flex;*/
  /*align-items: center;
    justify-content: center;*/
  height: 100%;
  width: 100%;
  text-decoration: none;
}


/* Thumbnail */
.mr-img-thumbnail-container img {
  transition: opacity var(--mr-transition-time) ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--mr-border-radius-image);
}

/* Date thumbnail */
.mr-img-thumbnail-date {
  z-index: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: var(--mr-thumbnail-date-background-color);
  padding: 0px 8px;
  font-size: x-small;
  border-radius: 30px;
  color: var(--mr-text-color-opposite);
  transition: var(--mr-transition-time) ease-in-out;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-date {
  animation: slide-bottom var(--mr-transition-time) ease-in-out;
}

/* Title of the thumbnail when hovering */
.mr-img-thumbnail-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, transparent 0%, rgba(0, 0, 0, 0.6) 50%, black 100%);
  transition: var(--mr-transition-time) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mr-text-color-dark);
  font-size: var(--mr-font-size-large);
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(2px);
}

.favorite .mr-img-thumbnail-title {
  background: linear-gradient(160deg, transparent 0%, var(--mr-color-gold) 100%);
  color: var(--mr-thumbnail-text-color);
}

.mr-img-thumbnail-subtitle {
  font-size: var(--mr-font-size-small);
  font-style: italic;
  text-align: center;
  color: var(--mr-chat-color);
}

/* Image on hover */
.contenido:has(.mr-img-thumbnail-container:hover) img {
  opacity: 0.7;
}


.mr-img-thumbnail-container .mr-img-thumbnail-info {
  opacity: 0;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-info {
  opacity: 1;
}

.mr-img-thumbnail.favorite .contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-title {
  color: var(--mr-thumbnail-text-color);
  text-shadow: 0 0 4px black;
}

.carousel-item .cuadrado {
  position: relative;
  border-radius: var(--mr-border-radius) !important;
  /* margin: 1%; */
  /* width: 90% !important; */
  /* padding-bottom: 85% !important; */
  padding: 0%;
  width: 100%;
  /* height: 100%;    */
}

/* Each thumbnail. Size: 4xN */
.cuadrado {
  width: 23%;
  padding-bottom: 23%;
  position: relative;
  border-radius: var(--mr-border-radius) !important;
  margin: 1%;
}

/* Each thumbnail. Size: 3xN */
@media screen and (max-width: 600px) {
  .carousel-item .cuadrado {
    position: relative;
    border-radius: var(--mr-border-radius) !important;
    margin: 1%;
    /* width: 90% !important; */
    /* padding-bottom: 85% !important; */
    padding: 33%;
  }

  .cuadrado {
    width: 31% !important;
    padding-bottom: 31% !important;
    margin: 1%;
  }
}


.carousel-item .contenido {
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--mr-border-radius-image);
}

/* Thumbnail content, square shape */
.contenido {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--mr-border-radius-image);
}

.favorite .mr-img-thumbnail-title {
  color: var(--mr-thumbnail-text-color);
}


.mr-img-thumbnail-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--mr-thumbnail-text-color);
  z-index: -1;
  /* position: absolute; */
  bottom: 0px;
  /* width: 100%; */
  justify-content: space-around;
  flex-wrap: nowrap;
  transition: var(--mr-transition-time) ease-in-out;
  font-size: var(--mr-font-size-small);
  /* height: -webkit-fill-available; */
}


.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-stats {
  z-index: 2;
}

.favorite .contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-stats {
  /*text-shadow: 0 0 4px white;*/
}

mr-img-thumbnail-stats-item {
  color: var(--mr-thumbnail-text-color);
}

.mr-img-thumbnail-stats-item.likes {
  color: var(--mr-thumbnail-text-likes-color);
}


.mr-img-thumbnail-score-container {
  display: flex;
  flex-direction: row;
  font-size: var(--mr-font-size-small);
  font-weight: var(--mr-font-weight-bold);
  gap: 4px;
  transition: var(--mr-transition-time) ease-in-out;
  z-index: 1;
}


.mr-img-thumbnail-score {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

.mr-img-thumbnail-score.miguel {
  border-radius: 4px;
}

.mr-img-thumbnail-score.popular {
  border-radius: 20px;
}


.mr-img-thumbnail-details-container {
  background: var(--mr-thumbnails-details-background);
  border-radius: 4px;
  position: relative;
  padding: 4px;
  bottom: 29px;
  transition: var(--mr-transition-time);
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a:hover .mr-img-thumbnail-details-container {
  text-decoration: none !important;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-img-thumbnail-details-container {
  z-index: 3;
  animation: slide-up var(--mr-transition-time) ease-in-out;
}

.mr-thumbnail-spotify-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  transition: var(--mr-transition-time);
  z-index: 4;
  color: var(--mr-color-spotify);
  background-color: black;
  padding: 2px;
  border-radius: 20px;
  height: 20px;
  z-index: 3;
  opacity: 0;
}

.mr-thumbnail-spotify-icon i {
  position: relative;
  top: -2px;
}

.contenido:has(.mr-img-thumbnail-container:hover) .mr-thumbnail-spotify-icon {
  animation: slide-left var(--mr-transition-time) ease-in-out;
  opacity: 1;
}

.contenido:has(.mr-thumbnail-spotify-icon a:hover) .mr-thumbnail-spotify-icon {
  opacity: 1;
}


/* Placeholder when the image couldn't be loaded */
.mr-error-load-placeholder {
  transition: var(--mr-transition-time) ease-out;
  position: absolute;
  width: 100%;
  background-color: black;
  height: 100%;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: var(--mr-border-radius-image);
  color: pink;
}

/* Emoji of the error placeholder */
.mr-error-load-placeholder .emoji {
  font-size: x-large;
}

/* Text of the error placeholder */
.mr-error-load-placeholder .subtitle {
  font-size: var(--mr-font-size-small);
  text-align: center;
}
