<div
  [attr.data-drawingId]="drawing.id"
  class="mr-img-thumbnail relative aspect-square h-full w-full"
  [ngClass]="{ favorite: drawing.favorite }">
  <div class="contenido relative h-full w-full overflow-hidden object-contain">
    <div
      *ngIf="drawing.spotifyTrackId"
      class="mr-thumbnail-spotify-icon mr-img-thumbnail-info mr-spotify absolute right-1 top-1 h-5">
      <a [href]="drawing.spotifyUrl" target="_blank" class="relative">
        <i class="bi bi-spotify"></i>
      </a>
    </div>
    <a
      class="mr-img-thumbnail-container slide-right h-full w-full"
      [routerLink]="'/art/details/' + drawing.id">
      <!-- TODO: poner indicador de que la imagen no es visible todavía -->
      <img
        [src]="url"
        [alt]="drawing.title"
        *ngIf="!bErrorLoadingImage"
        (error)="errorLoadingImage()"
        loading="lazy"
        decoding="async"
        class="h-full w-full object-cover" />

      <div class="mr-error-load-placeholder" *ngIf="bErrorLoadingImage">
        <span class="text-2xl">🙃</span>
        <span class="subtitle text-center text-sm">{{
          text('NOTFOUND.IMAGE-NOT-LOADED') | mrTranslate
        }}</span>
      </div>

      <span class="mr-img-thumbnail-date mr-img-thumbnail-info">
        {{ formatDateMini(drawing.dateTS) }}
      </span>

      <div
        *ngIf="!drawing.visible"
        style="z-index: 1"
        class="absolute bottom-0 left-0 right-0 top-0 flex h-full w-full flex-col items-center justify-start bg-white bg-opacity-70 pt-8 text-black dark:bg-black dark:bg-opacity-70 dark:text-white">
        <i class="bi bi-eye-slash text-2xl"></i>
      </div>

      <div
        class="mr-img-thumbnail-details-container mr-img-thumbnail-info relative flex h-8 w-full flex-row flex-nowrap items-center justify-between p-1">
        <div
          class="mr-img-thumbnail-stats mr-img-thumbnail-info bottom-0 -z-10 flex flex-row flex-nowrap items-center justify-around text-sm">
          <!-- <div class="mr-img-thumbnail-stats-item">
                <i class="bi bi-eye"></i>
                <span>drawing.views</span>
            </div> -->
          <div class="mr-img-thumbnail-stats-item likes kudos">
            <i class="bi bi-heart"></i>
            <span> {{ drawing.likesHuman }}</span>
          </div>
        </div>

        <div
          class="mr-img-thumbnail-score-container flex flex-row gap-1 text-sm">
          <app-drawing-score
            [score]="drawing.scorePopular"
            [popular]="true"
            class="h-6 w-6 text-lg">
          </app-drawing-score>
          <app-drawing-score
            [score]="drawing.scoreCritic"
            class="h-6 w-6 text-lg">
          </app-drawing-score>
        </div>
      </div>

      <span
        *ngIf="drawing?.name && drawing?.modelName"
        class="mr-img-thumbnail-title mr-img-thumbnail-info">
        <span>{{ drawing.name }}</span>
        <span class="mr-img-thumbnail-subtitle text-center text-sm italic">
          {{ text('MODEL') | mrTranslate: { model: drawing.modelName } }}
        </span>
      </span>

      <span
        *ngIf="drawing?.name && !drawing?.modelName"
        class="mr-img-thumbnail-title mr-img-thumbnail-info">
        {{ drawing.name }}
      </span>

      <span
        *ngIf="!drawing?.name && drawing?.modelName"
        class="mr-img-thumbnail-title mr-img-thumbnail-info">
        {{ drawing.modelName }}
      </span>

      <span
        *ngIf="!drawing?.name && !drawing?.modelName"
        class="mr-img-thumbnail-title mr-img-thumbnail-info">
        <!-- Este span puede estar vacío como en el ejemplo de Razor -->
      </span>
    </a>
  </div>
</div>
