<h3>{{ title }}</h3>
<div
  class="flex max-h-screen flex-col gap-4 overflow-y-scroll p-2"
  cdkDropList
  [cdkDropListConnectedTo]="connectedTo"
  [cdkDropListData]="drawings"
  (cdkDropListDropped)="dropItem($event)">
  <div
    *ngFor="let drawing of drawings; let i = index"
    [cdkDragStartDelay]="{ touch: 200, mouse: 0 }"
    cdkDrag
    class="relative grid h-full w-full cursor-grabbing grid-cols-3 gap-2 rounded-md bg-black-700">
    <img
      class="aspect-square rounded-md object-cover"
      [src]="drawing.urlThumbnail"
      [alt]="drawing.name" />
    <div class="col-span-2 flex flex-col gap-3">
      <span
        class="absolute -left-1 -top-1 rounded-md bg-black-300 px-2 text-xs"
        [ngClass]="{ 'bg-gold-500 text-black-900': drawing.favorite }"
        >{{ i + 1 }}º</span
      >
      <div class="flex flex-col gap-1">
        <span>{{ drawing.name }}</span>
        <span class="text-xs text-white-950">{{ drawing.modelName }}</span>
      </div>
      <span class="text-sm text-main-400">{{ drawing.title }}</span>
    </div>
  </div>
</div>
