<div class="flex w-full select-none flex-col flex-nowrap gap-2">
  <div
    class="mr-scores-form mr-score-popular mt-2"
    id="containerCollapseVoteForm">
    <form
      *ngIf="showVoteForm; else thxVotePanel"
      class="flex flex-col flex-nowrap items-stretch gap-3"
      [formGroup]="voteForm">
      <div class="grid grid-cols-3">
        <span class="col-span-2"> {{ text('TITLE') | mrTranslate }}</span>
        <app-drawing-score
          [popular]="true"
          [score]="this.voteForm.value.score || 70">
        </app-drawing-score>
      </div>

      <input
        formControlName="score"
        type="range"
        class="mr-custom-range form-range"
        min="1"
        max="100"
        step="1"
        id="rScoreUser" />

      <button
        type="button"
        class="btn mr-custom-btn mt-2 flex w-fit gap-2"
        (click)="voteDrawing()">
        {{ text('SEND') | mrTranslate }}
      </button>
    </form>

    <ng-template #thxVotePanel>
      {{ text('THANKS') | mrTranslate }}
    </ng-template>
  </div>
</div>
