<form
  [formGroup]="form"
  (submit)="saveCollection()"
  class="flex flex-col gap-10">
  <app-section [title]="text('SECTIONS.MAIN-DATA') | mrTranslate">
    <div class="grid grid-cols-3 gap-5">
      <app-text-input
        *ngIf="newCollection; else idEdit"
        class="col-span-2"
        [label]="text('FORM.ID.TITLE') | mrTranslate"
        [placeholder]="text('FORM.ID.PLACEHOLDER') | mrTranslate"
        (change)="checkCollectionId($event)"
        formControlName="id">
      </app-text-input>

      <ng-template #idEdit>
        <span class="col-span-2" *ngIf="collection">{{ collection.id }}</span>
      </ng-template>

      <app-text-input
        [label]="text('FORM.ORDER.TITLE') | mrTranslate"
        [type]="'number'"
        [placeholder]="text('FORM.ORDER.PLACEHOLDER') | mrTranslate"
        formControlName="order">
      </app-text-input>
      <app-text-input
        [label]="text('FORM.NAME.TITLE') | mrTranslate"
        class="col-span-3"
        [placeholder]="text('FORM.NAME.PLACEHOLDER') | mrTranslate"
        formControlName="name">
      </app-text-input>

      <app-text-input
        [label]="text('FORM.DESCRIPTION.TITLE') | mrTranslate"
        class="col-span-3"
        [placeholder]="text('FORM.DESCRIPTION.PLACEHOLDER') | mrTranslate"
        formControlName="description">
      </app-text-input>

      <div class="col-span-2"></div>

      <button class="btn" type="submit">
        {{ text('FORM.SAVE') | mrTranslate }}
      </button>
    </div>
  </app-section>

  <app-section [title]="text('SECTIONS.DRAWINGS') | mrTranslate">
    <div class="grid grid-cols-2 gap-2" cdkDropListGroup>
      <app-collection-drawing-list
        [drawings]="listAll"
        class="opacity-40 transition-all hover:opacity-100"
        [title]="
          text('FORM.DRAWINGS.NOT-USED')
            | mrTranslate: { count: listAll.length }
        "
        [connectedTo]="['listUsed']"
        (requestDrop)="drop($event, 'all')">
      </app-collection-drawing-list>
      <app-collection-drawing-list
        [drawings]="listUsed"
        [title]="
          text('FORM.DRAWINGS.USED') | mrTranslate: { count: listUsed.length }
        "
        [connectedTo]="['listAll']"
        (requestDrop)="drop($event, 'used')">
      </app-collection-drawing-list>
    </div>
  </app-section>
</form>

<button type="button mr-custom-btn" (click)="deleteCollection()">
  {{ text('FORM.DELETE') | mrTranslate }}
</button>
